{% extends '_base_list.html' %}
{% load i18n %}
{% load static %}

{% block content_left_head %}
    <a href="{% url 'perms:asset-permission-create' %}" class="btn btn-sm btn-primary">
        {% trans "Create Task" %}
    </a>
{% endblock %}
{% block table_search %}
    {% block search_form %}{% endblock %}
{% endblock %}

{% block table_container %}
    {% block table_head %}{% endblock %}
    {% block table_body %}{% endblock %}
{% endblock %}
{% block content_bottom_left %}{% endblock %}


{% block custom_foot_js %}

{% endblock %}