.DS_Store
*.pyc
*.pyo
*.swp
.env
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
dump.rdb
.tox
.cache/
.idea/
db.sqlite3
config.py
migrations/
*.log
host_rsa_key
*.bat
tags
jumpserver.iml
.python-version
tmp/*
sessions/*
media
celerybeat.pid
django.db
celerybeat-schedule.db
data/static
docs/_build/
