.DS_Store
*.pyc
*.pyo
*.swp
.env
env
env*
venv
dist
build
*.egg
*.egg-info
_mailinglist
dump.rdb
.tox
.cache/
.idea/
.vscode/
.fleet/
db.sqlite3
config.py
config.yml
*.log
host_rsa_key
*.bat
tags
jumpserver.iml
.python-version
tmp/*
sessions/*
media
celerybeat.pid
django.db
celerybeat-schedule.db
docs/_build/
xpack
xpack.bak
### Vagrant ###
.vagrant/
release/*
releashe
/apps/script.py
data/*
test.py
.history/
