Django==1.10
django-bootstrap-form==3.2.1
logging==0.4.9.6
Pillow==3.3.1
djangorestframework==3.4.5
ForgeryPy==0.1
openpyxl==2.4.0
celery==3.1.23
ansible==2.1.1.0
django-simple-captcha==0.5.2
django-formtools==1.0
sshpubkeys==2.2.0
djangorestframework-bulk==0.2.1
paramiko==2.0.2
