Django==1.10
django-bootstrap-form==3.2.1
django-redis-sessions==0.5.6
django-websocket-redis==0.4.6
gevent==1.1.2
greenlet==0.4.10
logging==0.4.9.6
Pillow==3.3.1
pyte==0.5.2
redis==2.10.5
six==1.10.0
wcwidth==0.1.7
websocket-client==0.37.0
djangorestframework==3.4.5
ForgeryPy==0.1
paramiko==2.0.2
celery==3.1.23
ansible==2.1.1.0
django-simple-captcha==0.5.2
django-formtools==1.0
sshpubkeys==2.2.0
djangorestframework-bulk==0.2.1
python-gssapi==0.6.4
