.red-fonts {
    color: #ed5565;
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
}

.n-invalid {border: 1px solid #f00;}

.primary-panel {
  border-color: #1ab394;
  border-style: solid;
  border-width: 1px
}

.info-panel {
  border-color: #23c6c8;
  border-style: solid;
  border-width: 1px
}

th a {
  color: #676a6c;
}