.red-fonts {
    color: #ed5565;
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
}

.n-invalid {border: 1px solid #f00;}


.primary-panel .ibox-title {
  color: #ffffff;
  background-color: #1AB394;
}

.primary-panel .ibox-content {
  border: 1px solid #1AB394;
}

.info-panel .ibox-title {
  color: #ffffff;
  background-color: #23c6c8;
}

.info-panel .ibox-content {
  border: 1px solid #23c6c8;;
}


th a {
  color: #676a6c;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
   background-color: #1ab394;
   color: white;
 }

.select2-selection--single,
.select2-selection--multiple {
   border: 1px solid #e5e6e7 !important;
   cursor: text !important;
 }

.select2-container--forcus {
   border: 1px solid #1AB394 !important;
 }

.select2-selection__choice,
.chosen-container-multi .chosen-choices li.search-choice {
  background: #f1f1f1 !important;
  border: 1px solid #e5e6e7 !important;
  /*border: 1px solid #ededed;*/
  border-radius: 2px !important;
  box-shadow: none !important;
  color: #333333 !important;
  cursor: default !important;
  line-height: 13px !important;
  /*margin: 3px 0 3px 5px !important;*/
  padding: 3px 20px 3px 5px !important;
  position: relative !important;
 }

.select2-container--default.select2-container--focus .select2-selection--multiple {
   border: 1px solid #1ab394 !important;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.passwordBox2 {
  max-width: 660px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}

.no-borders-tr td {
  border-top: none !important;
}
