.login_body {
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 100%;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
}

.login-dialog {

    margin-top: -moz-calc((100vh - 575px) / 2);
    margin-top: -webkit-calc((100vh - 575px) / 2);
    margin-top: calc((100vh - 575px) / 2);
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    width: 100%;
}

.input_shadow-1{
    box-shadow:-2px 5px 5px #9999
}

.button-shadow{
    box-shadow:-1px 3px 3px #9999 ;
}

.contact-form .form-control-1 {
    background-color: transparent;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 45px !important;
    color: #0c0c0c;
    height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    border-radius: 0;
}

.login-logo {
    text-align: center;
    height: 80px;
    width: 500px;
    display: table-cell;
    vertical-align: middle;
}

.login-logo img {
    max-height: 80px;
    max-width: 500px;
}

.login-title {
    margin-top: 40px;
    text-align: left;
    font-family: "Microsoft Yahei", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.login-form {
    padding: 16px 0;
}

.login-input {
    position: relative;
    height: 40px;
}

.login-input-control {
    background-color: #FFFFFF;
    border: 1px solid #0D6FD1;
    position: absolute;
    padding: 6px 6px 6px 62px;
    border-radius: 2px;
    width: 500px;
    height: 40px;
    font-size: 14px;
    color: #2C3C4E;
    letter-spacing: 0;
    display: block;
}

.login-input-invalid {
    color: #FF521B;
    border-color: #FF521B;
}

.login-input-control:focus {
    color: #0D6FD1;
    border-color: #0D6FD1;
}

.login-input-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
}

.login-input-prefix {
    position: absolute;
    top: 11px;
    left: 20px;
    line-height: 18px;
    text-align: center;
    width: 22px;
    height: 20px;
    padding: 0 1px;
    z-index: 1;
}

.login-input-prefix .fa {
    font-size: 20px;
}

.login-input-prefix .fa {
    color: #0D6FD1;
}

.login-input-prefix img {
    max-width: 20px;
}

.login-error-msg {
    position: absolute;
    top: 9px;
    right: 40px;
    line-height: 22px;
    color: #FF521B;
    font-size: 12px;
    letter-spacing: -0.25px;
    z-index: 1;
}

.login-input-postfix {
    position: absolute;
    top: 9px;
    right: 10px;
    line-height: 20px;
    z-index: 1;
}

.login-input-postfix img {
    width: 22px;
    height: 22px;
}

.login-input-required .fa {
    font-size: 20px;
    vertical-align: middle;
}

.login-msg {
    color: #FF521B;
    height: 30px;
    padding-right: 20px;
}

.btn-login {
    color: #FFFFFF;
    background-color: #23A9F6;
    border-color: #23A9F6;
    border-radius: 30px;
    width: 500px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
}

.btn-login:focus,
.btn-login.focus {
    color: #fff;
    background-color: #23A9F6;
    border-color: #23A9F6;
}

.btn-login:hover {
    color: #fff;
    background-color: #53C0FF;
    border-color: #53C0FF;
}

.btn-login:active, .btn-login.active, .open > .dropdown-toggle.btn-login {
    color: #fff;
    background-color: #0D6FD1;
    border-color: #0D6FD1;
}

.btn-login:active:hover,
.btn-login.active:hover,
.open > .dropdown-toggle.btn-login:hover,
.btn-login:active:focus,
.btn-login.active:focus,
.open > .dropdown-toggle.btn-login:focus,
.btn-login:active.focus,
.btn-login.active.focus,
.open > .dropdown-toggle.btn-login.focus {
    color: #fff;
    background-color: #53C0FF;
    border-color: #53C0FF;
}


.btn-login:active,
.btn-login.active,
.open > .dropdown-toggle.btn-login {
    background-image: none;
}

.btn-login.disabled,
.btn-login[disabled],
fieldset[disabled] .btn-login,
.btn-login.disabled:hover,
.btn-login[disabled]:hover,
fieldset[disabled] .btn-login:hover,
.btn-login.disabled:focus,
.btn-login[disabled]:focus,
fieldset[disabled] .btn-login:focus,
.btn-login.disabled.focus,
.btn-login[disabled].focus,
fieldset[disabled] .btn-login.focus,
.btn-login.disabled:active,
.btn-login[disabled]:active,
fieldset[disabled] .btn-login:active,
.btn-login.disabled.active,
.btn-login[disabled].active,
fieldset[disabled] .btn-login.active {
    color: #fff;
    background-color: #23A9F6;
    border-color: #23A9F6;
    opacity: 0.6;
}

.btn-login .badge {
    color: #23A9F6;
    background-color: #fff;
}

.contact-form .form-control {
    background-color: transparent;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 45px !important;
    color: #0c0c0c;
    height: 38px;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    border-radius: 0;
}

.contact-form input:hover,
.contact-form textarea:hover,
.contact-form #contact-submit:hover {
    border-color: #28ABE3;
}

.contact-form #contact-submit {
    border: none;
    padding: 15px 0;
    width: 100%;
    margin: 0;
    background: #28ABE3;
    color: #fff;
    border-radius: 0;
}

.contact-form textarea.form-control {
    padding: 10px;
    height: 120px !important;
    outline: none;
}

.btn-transparent {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    border-radius: 40px;
    background: #259980;
    width: 100%;
}

.btn-transparent:hover {
    color: #fff;
}

.border {
    height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #28ABE3;
}
