{% extends '_without_nav_base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
    <article>
        <div class="" style="text-align: center; margin-bottom: 50px">
            <h2>
                {% block small_title %}
                {% endblock %}
            </h2>
        </div>
        <div >
            <div class="verify">{% trans 'Security token validation' %}&nbsp;&nbsp;{% trans 'Account' %}&nbsp;<span>{{ user.username }}</span>&nbsp;&nbsp;{% trans 'Follow these steps to complete the binding operation' %}</div>
            <hr style="width: 500px; margin: auto; margin-top: 10px;">
            {% block content %}
            {% endblock %}
        </div>
     </article>
{% endblock %}
