{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            {% include 'users/_user_detail_nav_header.html' %}

                            {% block content_nav_delete_update %}
                            {% endblock %}
                        </ul>
                    </div>
                    <div class="tab-content">
                        {% block content_table %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
