{% load i18n %}

<p>
    {% trans 'Hello' %} {{ name }},
</p>
<p>
    {% trans 'Your password will expire in' %} {{ date_password_expired }}, <br />
    {% trans 'For your account security, please click on the link below to update your password in time' %}
    <br />
    <br />
    <a href="{{ update_password_url }}">{% trans 'Click here update password' %}</a>
    <br />
</p>
-
<p>
    {% trans 'If your password has expired, please click the link below to' %}
    <a href="{{ forget_password_url }}?email={{ email }}">{% trans 'Reset password' %}</a>
</p>
