{% extends '_modal.html' %}
{% load i18n %}
{% block modal_id %}user_import_modal{% endblock %}
{% block modal_title%}{% trans "Import user" %}{% endblock %}
{% block modal_body %}
<p class="text-success">{% trans "   * CSV format should be same as export" %}</p>
<form method="post" action="{% url 'users:user-import' %}" id="fm_user_import" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label" for="id_users">{% trans "Users csv file" %}</label>
        <input id="id_users" type="file" name="users" />
    </div>
</form>
{% endblock %}
{% block modal_confirm_id %}btn_user_import{% endblock %}
