{% extends '_modal.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block modal_id %}user_bulk_update_modal{% endblock %}
{% block modal_class %}modal-lg{% endblock %}
{% block modal_title%}{% trans "Update selected user" %}{% endblock %}
{% block modal_body %}
<div class="ydxbd" id="ydxbd" style="display: block;">
	<div>
		<p id="tags_p">
			<a href="/assets/asset-by-tag/5">
				<span class="label label-default">三年质保(0)</span>
			</a>
            <a href="/assets/asset-by-tag/5">
                <span class="label label-default">三年质保(0)</span>
            </a>
		</p>
	</div>
</div>
<form method="post" class="form-horizontal" action="" id="fm_user_bulk_update">
{#    {% for field in form %}#}
{#        <input type="checkbox">#}
{#        {% bootstrap_field field layout='horizontal' %}#}
{#    {% endfor %}#}
    {% bootstrap_form form layout='horizontal' %}

{#    <div class="form-group">#}
{#        <div class="col-sm-9 col-lg-9 col-sm-offset-2">#}
{#            <div class="checkbox">#}
{#                <input type="checkbox" name="enable_otp" checked id="id_enable_otp" disabled><label for="id_enable_otp">{% trans 'Enable-OTP' %}</label>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</form>
{% endblock %}
{% block modal_confirm_id %}btn_user_bulk_update{% endblock %}

