{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block custom_head_css_js %}
    <link href="{% static "css/plugins/chosen/chosen.css" %}" rel="stylesheet">
    <script href="{% static "js/plugins/chosen/chosen.jquery.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写用户信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal" action="">
                            {% csrf_token %}
                            <h3>账户</h3>
                            {% block username %} {% endblock %}
                            {{ form.name|bootstrap_horizontal }}
                            {{ form.email|bootstrap_horizontal }}
                            {{ form.groups|bootstrap_horizontal }}

                            <div class="hr-line-dashed"></div>
                            {% block password %} {% endblock %}

                            <div class="hr-line-dashed"></div>
                            <h3>角色安全</h3>
                            {{ form.role|bootstrap_horizontal }}
                            {{ form.date_expired|bootstrap_horizontal }}
                            <div class="form-group">
                                <label for="{{ form.enable_2FA.id_for_label }}" class="col-sm-2 control-label">二次验证</label>
                                <div class="col-sm-8">
                                    {{ form.enable_2FA }}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h3>信息</h3>
                            {{ form.avatar|bootstrap_horizontal }}
                            {{ form.phone|bootstrap_horizontal }}
                            {{ form.wechat|bootstrap_horizontal }}
                            {{ form.comment|bootstrap_horizontal }}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_footer_js %}
<script type="text/javascript">
{#$(document).ready(function() {#}
{#    var config = {#}
{#        '.chosen-select': {},#}
{#        '.chosen-select-deselect': {allow_single_deselect: true},#}
{#        '.chosen-select-no-single': {disable_search_threshold: 10},#}
{#        '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},#}
{#        '.chosen-select-width': {width: "95%"}#}
{#    };#}
{#    for (var selector in config) {#}
{#        $(selector).chosen(config[selector]);#}
{#    }#}
{#})#}
</script>
{% endblock %}