{% extends '_base_only_content.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{% block custom_head_css_js %}
    <style>
        .margin-bottom {
            margin-bottom: 15px;
        }
        .input-style {
            width: 100%;
            display: inline-block;
        }

        .challenge-required .input-style {
            width: calc(100% - 120px);
            display: inline-block;
        }

        .btn-challenge {
            width: 110px !important;
            height: 100%;
            vertical-align: top;
        }
        .display-fade {
            display: none;
        }
        .display-show {
            display: block;
        }
    </style>
{% endblock %}
{% block html_title %}{% trans 'Forgot password' %}{% endblock %}
{% block title %} {% trans 'Forgot password' %}?{% endblock %}

{% block content %}
    <p class="{% if form_type == 'phone' %} display-fade {% else %} display-show {% endif %}">
        {% trans 'Input your email, that will send a mail to your' %}
    </p>
    <p class="{% if form_type == 'email' %} display-fade {% else %} display-show {% endif %}">
        Enter your phone number and a verification code will be sent to your phone
    </p>

    <div class="row">
        <div class="col-sm-12">
            <form role="form" class="form-horizontal" action="" method="post">
                {% csrf_token %}
                {% bootstrap_field form.form_type layout="horizontal" %}
                <div class="margin-bottom {% if 'username' in form.errors %} has-error {% endif %}">
                    <label class="control-label" for="username">{{ form.username.errors.as_text }}</label>
                    <input type="text" id="username" name="username" class="form-control input-style" placeholder="{% trans 'Username' %}" value="{{ username }}">
                </div>
                <div class="margin-bottom {% if form_type == 'phone' %} display-fade {% else %} display-show {% endif %} {% if 'email' in form.errors %} has-error {% endif %}">
                    <label class="control-label" for="email">{{ form.email.errors.as_text }}</label>
                    <input type="email" id="email" name="email" class="form-control input-style" placeholder="{% trans 'Email' %}" value="{{ email }}">
                </div>
                <div class="margin-bottom {% if form_type == 'email' %} display-fade {% else %} display-show {% endif %} {% if 'phone' in form.errors %} has-error {% endif %}">
                    <label class="control-label" for="phone">{{ form.phone.errors.as_text }}</label>
                    <input type="tel" id="phone" name="phone" class="form-control input-style" placeholder="{% trans 'Phone' %}" value="{{ phone }}">
                </div>
                <div class="margin-bottom challenge-required {% if 'code' in form.errors %} has-error {% endif %}" style="margin-top: 30px">
                    <label class="control-label" for="code">{{ form.code.errors.as_text }}</label>
                    <input type="text" id="code" name="code" class="form-control input-style" placeholder="{% trans 'Verify code' %}">
                    <button class="btn btn-primary full-width btn-challenge"
                    type='button' onclick="sendChallengeCode(this)">{% trans 'Send verification code' %}</button>
                </div>
                <div class="margin-bottom">
                    <button type="submit" class="btn btn-primary block full-width m-b">{% trans 'Submit' %}</button>
                </div>
                {% if XPACK_ENABLED %}
                    <a id="switch-email" class="{% if form_type == 'phone' %} display-fade {% else %} display-show {% endif %}" onclick="changeType()">{% trans 'Use the phone number to retrieve the password' %}</a>
                    <a id="switch-phone" class="{% if form_type == 'email' %} display-fade {% else %} display-show {% endif %}" onclick="changeType()">{% trans 'Use email to retrieve the password' %}</a>
                {% endif %}
            </form>
        </div>
    </div>
    <script>
        function changeType() {
            // 把所有 display-fade 和 display-show 互换
            const showElements = $('.display-show')
            const fadeElements = $('.display-fade')
            const formTypeElement = $('input[name="form_type"]')
            showElements.addClass('display-fade').removeClass('display-show')
            fadeElements.addClass('display-show').removeClass('display-fade')
            formTypeElement.attr('value', formTypeElement.val() === 'email' ? 'phone': 'email')
        }
        function sendChallengeCode(currentBtn) {
            let time = 60;
            const url = "{% url 'api-auth:reset-password-code' %}";

            const formType = $('input[name="form_type"]').val()
            const username =  $('#username').val()
            const email = $('#email').val()
            const phone = $('#phone').val()
            const errMsg = "{% trans 'The {} cannot be empty' %}"

            if (username === "") {
                toastr.error(errMsg.replace('{}', "{% trans 'Username' %}"))
                return
            }
            if (formType === 'phone') {
                if (phone === "") {
                    toastr.error(errMsg.replace('{}', "{% trans 'Phone' %}"))
                    return
                }
            } else {
                if (email === "") {
                    toastr.error(errMsg.replace('{}', "{% trans 'Email' %}"))
                    return
                }
            }

            const data = {
                username: username, form_type: formType,
                email: email, phone: phone,
            }
            function onSuccess() {
                const originBtnText = currentBtn.innerHTML;
                currentBtn.disabled = true

                const interval = setInterval(function () {
                    currentBtn.innerHTML = `{% trans 'Wait: ' %} ${time}`;
                    time -= 1

                    if (time === 0) {
                        currentBtn.innerHTML = originBtnText
                        currentBtn.disabled = false
                        clearInterval(interval)
                    }
                }, 1000)
            }

            requestApi({
                url: url,
                method: "POST",
                body: JSON.stringify(data),
                success: onSuccess,
                success_message: "{% trans 'The verification code has been sent' %}",
                flash_message: true
            })
        }
    </script>
{% endblock %}

