{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ FAVICON_URL }}" type="image/x-icon">
    <title>{% trans 'Forgot password' %}</title>

    {% include '_head_css_js.html' %}
    <link href="{% static "css/jumpserver.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static "js/jumpserver.js" %}"></script>
</head>

<body class="gray-bg">
    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">
                    <img src="{{ LOGO_URL }}" style="margin: auto" width="82" height="82">
                    <h2 class="font-bold" style="display: inline">{% trans 'Forgot password' %} ?</h2>
                    <h1></h1>
                    {% if errors %}
                        <p class="red-fonts">{{ errors }}</p>
                    {% endif %}
                    <p>
                        {% trans 'Input your email, that will send a mail to your' %}
                    </p>

                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email address" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">{% trans 'Submit' %}</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                 {% include '_copyright.html' %}
            </div>
        </div>
    </div>

</body>

</html>
