{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JumpServer </title>
    <link rel="shortcut icon" href="{% static "img/facio.ico" %}" type="image/x-icon">
    {% include '_head_css_js.html' %}
    <link href="{% static "css/jumpserver.css" %}" rel="stylesheet">
    <script src="{% static "js/jumpserver.js" %}"></script>
</head>

<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">

                <h2 class="font-bold">欢迎使用Jumpserver开源跳板机</h2>

                <p>
                    Jumpserver是一款使用Python, Django开发的开源跳板机系统, 助力互联网企业高效 用户、资产、权限、审计 管理
                </p>

                <p>
                    我们自五湖四海，我们对开源精神无比敬仰和崇拜，我们对完美、整洁、优雅 无止境的追求
                </p>

                <p>
                    专注自动化运维，努力打造 易用、稳定、安全、自动化 的跳板机, 这是我们的不懈的追求和动力
                </p>

                <p>
                    <small>永远年轻，永远热泪盈眶 stay foolish stay hungry</small>
                </p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <div><img src="{% static 'img/logo.png' %}" width="82" height="82"> <span class="font-bold text-center" style="font-size: 32px; font-family: inherit">登录</span></div>
                    <form class="m-t" role="form" method="post" action="{% url 'users:login' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <p class="red-fonts">用户名/密码 不正确, 请重试</p>
                        {% endif %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                        <a href="{% url 'users:forget-password' %}">
                            <small>Forgot password?</small>
                        </a>

                        <p class="text-muted text-center">
{#                            <small>Do not have an account?</small>#}
                        </p>
{#                        <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>#}
                    </form>
                    <p class="m-t">
{#                        <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small>#}
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Jumpserver.org
            </div>
            <div class="col-md-6 text-right">
               <small>© 2014-2016</small>
            </div>
        </div>
    </div>

</body>

</html>


