{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ action }}</h5>
                    </div>
                    <div class="ibox-content">
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                               {{ form.non_field_errors }}
                            </div>
                       {% endif %}
                        <form method="post" class="form-horizontal" action="" >
                            {% csrf_token %}
                            {% bootstrap_field form.name layout="horizontal" %}
                            {% bootstrap_field form.users layout="horizontal" %}
                            {% bootstrap_field form.comment layout="horizontal" %}
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">{% trans 'Reset' %}</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "users/_select_user_modal.html" %}
{% endblock %}
{% block custom_foot_js %}
<script>
$(document).ready(function () {
    $('.select2').select2({
        closeOnSelect: false
    });
    usersSelect2Init('.users-select2')
})
.on("submit", "form", function (evt) {
    evt.preventDefault();
    var the_url = '{% url 'api-users:user-group-list' %}';
    var redirect_to = '{% url "users:user-group-list" %}';
    var method = "POST";
    {% if type == "update" %}
        the_url = '{% url 'api-users:user-group-detail' pk=object.id %}';
        method = "PUT";
    {% endif %}
    var form = $("form");
    var data = form.serializeObject();
    objectAttrsIsList(data, ['users']);
    var props = {
        url: the_url,
        data: data,
        method: method,
        form: form,
        redirect_to: redirect_to
     };
    formSubmit(props);
})
</script>
{% endblock %}
