{% extends 'users/_base_otp.html' %}
{% load static %}
{% load i18n %}

{% block small_title %}
    {% trans 'Authenticate' %}
{% endblock %}

{% block content %}
    <form class="" role="form" method="post" action="">
        {% csrf_token %}

        <div class="form-input">
            <input type="text" class="" name="{{ form.username.html_name }}" value="{{ form.username.value }}" readonly="readonly" required="">
        </div>

        <div class="form-input">
            <input type="password" class="" name="{{ form.password.html_name }}" placeholder="{% trans 'Password' %}" required="">
        </div>

        <button type="submit" class="next">{% trans 'Next' %}</button>

        {% if 'password' in form.errors %}
            <p class="red-fonts">{{ form.password.errors.as_text }}</p>
        {% endif %}

    </form>
{% endblock %}

