{% extends '_base_list.html' %}
{% load i18n %}
{% load common_tags %}
{% block content_left_head %}
    <a href="{% url 'users:user-create' %}" class="btn btn-sm btn-primary "> {% trans "Create user" %} </a>
{% endblock %}

{% block table_head %}
    <th class="text-center">
        <input type="checkbox" id="check_all" onclick="checkAll('check_all', 'checked')">
    </th>
    <th class="text-center"><a href="{% url 'users:user-list' %}?sort=name">{% trans 'Name' %}</a></th>
    <th class="text-center"><a href="{% url 'users:user-list' %}?sort=username">{% trans 'Username' %}</a></th>
    <th class="text-center">{% trans 'Role' %}</th>
    <th class="text-center">{% trans 'User group' %}</th>
    <th class="text-center">{% trans 'Asset num' %}</th>
    <th class="text-center"><a href="{% url 'users:user-list' %}?sort=date_expired">{% trans 'Active' %}</a></th>
    <th class="text-center"></th>
{% endblock %}

{% block table_body %}
     {% for user in object_list %}
         <tr class="gradeX">
             <td class="text-center">
                 <input type="checkbox" name="checked" value="{{ user.id }}" class="ipt_bulk_update">
             </td>
             <td class="text-center">
                 <a href="{% url 'users:user-detail' pk=user.id %}">
                     {{ user.name }}
                 </a>
             </td>
             <td class="text-center">{{ user.username }}</td>
             <td class="text-center">{{ user.get_role_display }}</td>
             <td class="text-center" title="{% for user_group in user.group.all %} {{ user_group.name }} {% endfor %}"> {{ user.groups.all|join_queryset_attr:"name" }} </td>
             <th class="text-center">{{ user.name }}</th>
             <td class="text-center">
                 {% if user.is_expired and user.is_active %}
                     <i class="fa fa-times text-danger"></i>
                 {% else %}
                     <i class="fa fa-check text-navy"></i>
                 {% endif %}
             </td>
             <td class="text-center">
                 <a href="{% url 'users:user-update' pk=user.id %}" class="btn btn-xs btn-info">{% trans 'Update' %}</a>
                 <!--<a href="{% url 'users:user-delete' pk=user.id %}" class="btn btn-xs btn-danger del {% if user.id == request.user.id or user.username == 'admin' %} disabled {% endif %}">{% trans 'Delete' %}</a>-->
                 <a onclick="obj_del(this,'{{ user.name }}','{% url 'users:user-delete' user.id %}')" class="btn btn-xs btn-danger del {% if user.id == request.user.id or user.username == 'admin' %} disabled {% endif %}">{% trans 'Delete' %}</a>
             </td>
         </tr>
     {% endfor %}
{% endblock %}

{% block content_bottom_left %}
        <div class="input-group">
            <select class="form-control m-b" style="width: auto" id="slct_bulk_update">
                <option value="delete">{% trans 'Delete selected' %}</option>
                <option value="update">{% trans 'Update selected' %}</option>
                <option value="deactive">{% trans 'Deactive selected' %}</option>
                <option value="export">{% trans 'Export selected' %}</option>
            </select>
            <div class="input-group-btn pull-left" style="padding-left: 5px;">
                <button id='btn_bulk_update' style="height: 32px;"  class="btn btn-sm btn-primary">
                 {% trans 'Submit' %}
                </button>
            </div>
        </div>
{% endblock %}
{% block custom_foot_js %}
<script>
jumpserver.bulk_delete = function(){

}
$(document).on('click', '#btn_bulk_update', function(){
    var action = $('#slct_bulk_update').val();
    var id_list = $('.ipt_bulk_update:checked').map(function(){return {'id': $(this).val()}}).get();
    console.log(id_list);
    function doDeactive() {
        var body = $.each(id_list, function(dict, index) {
        })    
    };
    switch(action) {
        case 'deactive':
            
    }
})
</script>
{% endblock %}

