{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block custom_head_css_js %}
    <link href="{% static "css/plugins/select2/select2.min.css" %}" rel="stylesheet">
    <script src="{% static "js/plugins/select2/select2.full.min.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="{% url 'users:user-group-detail' pk=user_group.id %}" class="text-center"><i class="fa fa-laptop"></i> {% trans 'User detail' %} </a>
                            </li>
                            <li>
                                <a href="{% url 'users:user-group-asset-permission' pk=user_group.id %}" class="text-center"><i class="fa fa-bar-chart-o"></i> {% trans 'Asset permission' %}</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'users:user-group-granted-asset' pk=user_group.id %}" class="text-center"><i class="fa fa-cubes"></i> {% trans 'Asset granted' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0;">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span style="float: left">{% trans 'Assets granted of ' %} <b>{{ user_group.name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table table-hover " id="user_assets_table" >
                                        <thead>
                                            <tr>
                                                <th class="text-center"></th>
                                                <th>{% trans 'Hostname' %}</th>
                                                <th>{% trans 'IP' %}</th>
                                                <th>{% trans 'Port' %}</th>
                                                <th>{% trans 'System user' %}</th>
                                                <th>{% trans 'Valid' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5" style="padding-left: 0;padding-right: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span style="float: left">{% trans 'Asset groups granted of ' %} <b>{{ user_group.name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table table-hover" id="user_asset_groups_table" >
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>{% trans 'Name' %}</th>
                                                <th>{% trans 'Asset' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block custom_foot_js %}
    <script>
        $(document).ready(function () {
            $('.select2').select2();
            var options = {
                ele: $('#user_assets_table'),
                buttons: [],
                order: [],
                select: [],
                columnDefs: [
                    {targets: 1, createdCell: function (td, cellData, rowData) {
                        var detail_btn = '<a href="{% url "assets:asset-detail" pk=99991937 %}">' + cellData + '</a>';
                        $(td).html(detail_btn.replace('99991937', rowData.id));
                     }},
                    {targets: 4, createdCell: function (td, cellData, rowData) {
                        if (cellData.length > 10){
                            $(td).html(cellData.substring(1, 10) + '..')
                        } else {
                            $(td).html(cellData)
                        }
                    }},
                    {targets: 5, createdCell: function (td, cellData) {
                        if (!cellData) {
                            $(td).html('<i class="fa fa-times text-danger"></i>')
                        } else {
                            $(td).html('<i class="fa fa-check text-navy"></i>')
                        }
                    }}
                ],
                ajax_url: '{% url "api-perms:user-group-assets" pk=user_group.id %}',
                columns: [{data: function(){return ""}}, {data: "hostname" }, {data: "ip" }, {data: "port"},
                    {data: "system_users_join"}, {data: "is_active"}]
            };
            var options2 = {
                ele: $('#user_asset_groups_table'),
                buttons: [],
                order: [],
                select: [],
                columnDefs: [
                    {targets: 1, createdCell: function (td, cellData, rowData) {
                        var detail_btn = '<a href="{% url "assets:asset-group-detail" pk=99991937 %}">' + cellData + '</a>';
                        $(td).html(detail_btn.replace('99991937', rowData.id));
                     }}
                ],
                ajax_url: '{% url "api-perms:user-group-asset-groups" pk=user_group.id %}',
                columns: [{data: function(){return ""}}, {data: "name" }, {data: "assets_amount" }]
            };
            jumpserver.initDataTable(options);
            jumpserver.initDataTable(options2);
        });
    </script>
{% endblock %}
