{% extends '_list_base.html' %}
{% load common_tags %}
{% block content_left_head %}
    <a href="{% url 'users:user-add' %}" class="btn btn-sm btn-primary "> 添加用户 </a>
{#    <a id="del_btn" class="btn btn-sm btn-danger "> 删除所选 </a>#}
{% endblock %}

{% block table_head %}
    <th class="text-center">
        <input type="checkbox" id="check_all" onclick="checkAll('check_all', 'checked')">
    </th>
    <th class="text-center"><a href="{% url 'users:user-list' %}?sort=name">姓名</a></th>
    <th class="text-center"><a href="{% url 'users:user-list' %}?sort=username">用户名</a></th>
    <th class="text-center">角色</th>
    <th class="text-center">用户组</th>
    <th class="text-center">资产数量</th>
    <th class="text-center"><a href="{% url 'users:user-list' %}?sort=date_expired">有效</a></th>
    <th class="text-center"></th>
{% endblock %}

{% block table_body %}
     {% for user in user_list %}
         <tr class="gradeX">
             <td class="text-center">
                 <input type="checkbox" name="checked" value="{{ user.id }}">
             </td>
             <td class="text-center">
                 <a href="{% url 'users:user-detail' pk=user.id %}">
                     {{ user.name }}
                 </a>
             </td>
             <td class="text-center">{{ user.username }}</td>
             <td class="text-center">{{ user.get_role_display }}</td>
             <td class="text-center" title="{% for user_group in user.group.all %} {{ user_group.name }} {% endfor %}"> {{ user.groups.all|join_queryset_attr:"name" }} </td>
             <th class="text-center">{{ user.name }}</th>
             <td class="text-center">
                 {% if user.is_expired %}
                     <i class="fa fa-times text-danger"></i>
                 {% else %}
                     <i class="fa fa-check text-navy"></i>
                 {% endif %}
             </td>
             <td class="text-center">
                 <a href="{% url 'users:user-edit' pk=user.id %}" class="btn btn-xs btn-info">编辑</a>
                 <a href="{% url 'users:user-delete' pk=user.id %}" class="btn btn-xs btn-danger del {% if user.id == request.user.id or user.username == 'admin' %} disabled {% endif %}">删除</a>
             </td>
         </tr>
     {% endfor %}
{% endblock %}

{% block content_bottom_left %}
    <form id="" method="get" action="" class=" mail-search">
        <div class="input-group">
            <select class="form-control m-b" style="width: auto">
                <option>批量删除</option>
                <option>批量更新</option>
                <option>批量禁用</option>
                <option>批量导出</option>
            </select>

            <div class="input-group-btn pull-left" style="padding-left: 5px;">
                <button id='search_btn' type="submit" style="height: 32px;"  class="btn btn-sm btn-primary">
                 确认
                </button>
            </div>

        </div>
   </form>
{% endblock %}


