{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block custom_head_css_js %}
<style>
    td {}
</style>
{% endblock %}

{% block content %}

{% comment %}
此模板引用user列表页
{% endcomment %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <form action="{% url 'workform:service_msg' %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="text" id="phoneno" name="phoneno" class="datepicker" autocomplete="on">
                        <input class="form-inline" id="phonesearch" type="submit" value="搜索"/>
                    </form>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="" id="content_start">
                        <table class="table table-striped table-bordered table-hover " id="msg_rule">
                            <thead>
                                <th style="width:50%" class="text-left">
                                    阿里云规则
                                </th>
                                <th style="width:50%" class="text-left">
                                    万方服务规则
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width:50%" class="text-left">同一个签名,对同一个手机号码的发送频率<br>
                                    1分钟内短信发送条数不超过 2 条<br>
                                    1小时内短信发送条数不超过 4 条<br>
                                    1个自然日内短信发送条数不超过 15 条</th>
                                    <th style="width:50%" class="text-left">手机发短信间隔（默认1分钟）<br>
                                    同一IP地址，一天内申请验证码不能超过的次数 50次<br>
                                    同一手机号，一天内申请验证码不能超过的次数 4 次<br>
                                    IP允许时间-默认10分钟<br>
                                    IP允许时间内允许4次<br>
                                    超过IP允许时间后禁止时间-10分钟</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="uc pull-left m-r-5 btn btn-sm btn-primary"> 医药平台实名认证信息 </div>
                    <table class="table table-striped table-bordered table-hover text-center" id="user_list_table">
                        <thead>
                            <tr>
                                <th style="width: 20%" class="text-center">手机号码</th>
                                <th style="width: 30%" class="text-center">实名用户名</th>
                                <th style="width: 30%" class="text-center">平台类型</th>
                                <th style="width: 20%" class="text-center">IdentityType</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in realname_list %}
                            <tr>
                                <td>{{ i.IdentityId }}</td>
                                <td>{{ i.Key }}</td>
                                <td>{{ i.AccountType }}</td>
                                <td>{{ i.IdentityType }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="uc pull-left m-r-5 btn btn-sm btn-primary"> 短信发送记录信息 </div>
                    <table class="table table-striped table-bordered table-hover text-center" id="user_list_table">
                        <thead>
                            <tr>
                                <th style="width: 2%" class="text-center">No.</th>
                                <th style="width: 8%" class="text-center">手机号码</th>
                                <th style="width: 10%" class="text-center">请求时间</th>
                                <th style="width: 10%" class="text-center">发送时间</th>
                                <th style="width: 10%" class="text-center">接收时间</th>
                                <th style="width: auto" class="text-center">消息内容</th>
                                <th style="width: 8%" class="text-center">消息代码</th>
                                <th style="width: 8%" class="text-center">操作平台</th>
                                <th style="width: 8%" class="text-center">类型</th>
                                <th style="width: 8%" class="text-center">IP地址</th>
                            </tr>
                        </thead>
                        <tbody valign="middle">
                        {% for i in sms_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.phoneno }}</td>
                                <td>{{ i.user_send_time }}</td>
                                <td>{{ i.ali_send_time }}</td>
                                <td>{{ i.user_receive_time }}</td>
                                <td class="text-left">{{ i.message }}</td>
                                {% if i.ali_sendstatus == 1 %}
                                    <td>等待回执</td>
                                {% elif i.ali_sendstatus == 2 %}
                                    <td>发送失败</td>
                                {% elif i.ali_sendstatus == 3 %}
                                    <td>发送成功</td>
                                {% elif i.ali_sendstatus == 4 %}
                                    <td>万方请求失败</td>
                                {% endif %}
                                <td>{{ i.source }}</td>
                                <td>{{ i.type }}</td>
                                <td>{{ i.ip }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered table-hover" id="editable" >
                        <thead>
                            <tr>
                                {% block table_head %} {% endblock %}
                            </tr>
                        </thead>
                        <tbody>
                        {% block table_body %} {% endblock %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-4">
                            {% block content_bottom_left %} {% endblock %}
                        </div>
                        {% comment %}
                        {% block table_pagination %}
                        {% include '_pagination.html' %}
                        {% endcomment %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% block custom_foot_js %}
<script src="{% static 'js/jquery.form.min.js' %}"></script>
{% endblock %}