[defaults]
forks             = 10
host_key_checking = False
library           = /opt/jumpserver/apps/libs/ansible/modules:./modules
timeout           = 65
[ssh_connection]
ssh_args = -o ControlMaster=no -o ControlPersist=no
pipelining = True
