{% load i18n %}
<div class="" style="float: right">
   <div class=" btn-group">
        <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">CSV <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>
                <a id="btn_csv_export" tabindex="0">
                <span>{% trans "Export" %}</span>
                </a>
            </li>
            <li>
                <a id="btn_csv_import" data-toggle="modal" data-target="#csv_import_modal" tabindex="0">
                <span>{% trans "Import" %}</span>
                </a>
            </li>
            <li>
                <a id="btn_csv_update" data-toggle="modal" data-target="#csv_update_modal" tabindex="0">
                <span>{% trans "Update" %}</span>
                </a>
            </li>
        </ul>
   </div>
</div>
{% include '_csv_import_modal.html' %}
{% include '_csv_update_modal.html' %}

<script>
var csvTable = null;
var csvListUrl = null;

function initCsvImportExport(table, objectType, listUrl) {
    csvTable = table;
    $(".csv_object_type").html(objectType);
    csvListUrl = listUrl ? listUrl : csvTable.ajax.url();
}

function exportObjects(listUrl, objectsId, template, table) {
    /*
    {
       listUrl:
       objectsId:
       template:
       table:

    }
     */
    var tableParams = table.ajax.params();
    var exportUrl = setUrlParam(listUrl, 'format', 'csv');
    if (template) {
        exportUrl = setUrlParam(exportUrl, 'template', template)
    }
    for (var k in tableParams) {
        if (datatableInternalParams.includes(k)) {
            continue
        }
        if (!tableParams[k]) {
            continue
        }
        exportUrl = setUrlParam(exportUrl, k, tableParams[k])
    }

    if (!objectsId) {
        window.open(exportUrl);
        return
    }

    requestApi({
        url: '{% url "api-common:resources-cache" %}',
        data: JSON.stringify({resources: objectsId}),
        method: "POST",
        flash_message: false,
        success: function (data) {
            exportUrl = setUrlParam(exportUrl, 'spm', data.spm);
            console.log(exportUrl);
            window.open(exportUrl);
        },
        failed: function () {
            toastr.error("{% trans "Export error" %}");
        }
    });
}

var datatableInternalParams = ['draw', 'limit', 'order', 'offset'];
$(document).ready(function () {

}).on('click', '#btn_csv_export', function () {
    var selectedObjects = csvTable.selected;
    exportObjects(csvListUrl, selectedObjects, null, csvTable)
})
</script>
