{% load i18n %}
{% load static %}
<!-- Mainly scripts -->
<script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static "js/plugins/toastr/toastr.min.js" %}"></script>
<script src="{% static "js/inspinia.js" %}"></script>
<script>
// active menu
var url_array = document.location.pathname.split("/");
app = url_array[1];
resource = url_array[2];
if (app == ''){
    $('#index').addClass('active')
} else {
    $("#"+app).addClass('active');
    $('#'+app+' #'+resource).addClass('active');
}

// ajax set cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');
var sessionid = getCookie('sessionid');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

// textarea rows
$('textarea').attr('rows', 5)



//Sweet Alert for Delete
function obj_del(obj,name,url){
    swal({
        title: "{% trans 'Are you sure delete ??' %}",
        //text: "You will not be able to recover this imaginary file!",
        text: "【"+name+"】",
        type: "warning",
        showCancelButton: true,
        cancelButtonText: "{% trans 'Cancel' %}",
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "{% trans 'Yes, delete it!' %}",
        closeOnConfirm: false
    }, function () {
        $.ajax({
            type : "post",
            url : url,
            data : {
           // idc_id : idc_id
            },
            success : function(data) {
            swal("{% trans 'Deleted!' %}", "【"+name+"】"+"{% trans 'has been deleted.' %}", "success");
            $(obj).parent().parent().remove();
            },
            dataType : "text"
            });
    });
}

</script>
<script src="{% static "js/jumpserver.js" %}"></script>
