{% load static %}

<!-- css file -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/vaildator/jquery.validator.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">

<!-- scripts -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<style>
    :root {
        --primary-color: #1ab394;
    }
</style>

<script>
  const themeInfo = {{ INTERFACE.theme_info | safe }};
  if (themeInfo && themeInfo.colors && themeInfo.colors['--color-primary']) {
      document.documentElement.style.setProperty('--primary-color', themeInfo.colors['--color-primary']);
  }
</script>
