{% load i18n %}

{% block password_expired_message %}
    {% url 'users:user-password-update' as user_password_update_url %}
    {% if request.user.password_has_expired  %}
        <div class="alert alert-danger help-message alert-dismissable">
            {% blocktrans %}
                Your password has expired, please click <a href="{{ user_password_update_url }}"> this link </a> update password.
            {% endblocktrans %}
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="outline: none;">×</button>
        </div>
    {% elif request.user.password_will_expired %}
        <div class="alert alert-danger help-message alert-dismissable">
            {% trans 'Your password will at' %} {{ request.user.date_password_expired }} {% trans 'expired. ' %}
            {% blocktrans %}
                please click <a href="{{ user_password_update_url }}"> this link </a> to update your password.
            {% endblocktrans %}
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="outline: none;">×</button>
        </div>
    {% endif %}
{% endblock %}

{% block first_login_message %}
    {% if request.user.is_authenticated and request.user.is_first_login %}
    <div class="alert alert-danger help-message alert-dismissable">
        {% url 'users:user-first-login' as first_login_url %}
        {% blocktrans %}
        Your information was incomplete. Please click <a href="{{ first_login_url }}"> this link </a>to complete your information.
        {% endblocktrans %}
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="outline: none;">×</button>
    </div>
    {% endif %}
{% endblock %}

{% block update_public_key_message %}
    {% if request.user.is_authenticated and not request.user.is_public_key_valid and not request.COOKIE.close_public_key_msg != '1' %}
    <div class="alert alert-danger help-message alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button" onclick="closePublicKeyMsg()">×</button>
        {% url 'users:user-pubkey-update' as user_pubkey_update %}
        {% blocktrans %}
        Your ssh public key not set or expired. Please click <a href="{{ user_pubkey_update }}"> this link </a>to update
        {% endblocktrans %}
    </div>
    {% endif %}
{% endblock %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} help-message" >
{#            {{ message|safe }}#}
            {{ message }}
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="outline: none;">×</button>
        </div>

    {% endfor %}
{% endif %}

<script>
    function closePublicKeyMsg() {
        setCookie('close_public_key_msg', 1)
    }
</script>