{% load i18n %}
<li id="assets">
    <a href="{% url 'assets:user-asset-list' %}">
        <i class="fa fa-files-o" style="width: 14px"></i><span class="nav-label">{% trans 'My assets' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="applications">
    <a>
        <i class="fa fa-th" style="width: 14px"></i> <span class="nav-label">{% trans 'My Applications' %}</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="user-remote-app">
            <a href="{% url 'applications:user-remote-app-list' %}">
                <i class="" style="width: 14px"></i><span class="nav-label">{% trans 'RemoteApp' %}</span><span class="label label-info pull-right"></span>
            </a>
        </li>
    </ul>
</li>
{% if SECURITY_COMMAND_EXECUTION %}
<li id="ops">
    <a href="{% url 'ops:command-execution-start' %}">
        <i class="fa fa-terminal" style="width: 14px"></i> <span class="nav-label">{% trans 'Command execution' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
{% endif %}
<li id="users">
    <a href="{% url 'users:user-profile' %}">
        <i class="fa fa-user" style="width: 14px"></i> <span class="nav-label">{% trans 'Profile' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li>
    <a href="{% url 'terminal:web-terminal' %}" target="_blank"><i class="fa fa-window-maximize" style="width: 14px"></i>
        <span class="nav-label">{% trans 'Web terminal' %}</span>
    </a>
</li>
<li>
    <a href="{% url 'terminal:web-sftp' %}" target="_blank"><i class="fa fa-file" style="width: 14px"></i>
        <span class="nav-label">{% trans 'File manager' %}</span>
    </a>
</li>