<li id="index">
    <a href="">
        <i class="fa fa-dashboard"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="">
    <a href="">
        <i class="fa fa-files-o"></i><span class="nav-label">我的资产</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="">
    <a href="#">
        <i class="fa fa-download"></i> <span class="nav-label">上传下载</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li class="upload"><a href="">文件上传</a></li>
        <li class="download"><a href="">文件下载</a></li>
    </ul>
</li>
<li id="">
    <a href="">
        <i class="fa fa-gears"></i> <span class="nav-label">用户信息</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li class="special_link">
    <a href="http://www.jumpserver.org" target="_blank"><i class="fa fa-database"></i>
        <span class="nav-label">访问官网</span>
    </a>
</li>