{% load static %}
<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" width="48" height="48" src="{% static "img/root.png" %}"/>
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold"> {{ request.user.name }}<span style="color: #8095a8"></span></strong>
                </span>
                <span class="text-muted text-xs block">
                     {{ request.user.get_role_display | default:'普通用户' }}<b class="caret"></b>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a value="">个人信息</a></li>
            <li><a href="">修改信息</a></li>
            <li class="divider"></li>
            <li><a href="">注销</a></li>
        </ul>
    </div>
    <div class="logo-element">
        JMS
    </div>
</li>
