{% load static %}
{% load i18n %}
<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" width="48" height="48" src="{{ user.avatar_url }}"/>
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold"> {{ user.name }}<span style="color: #8095a8"></span></strong>
                </span>
                <span class="text-muted text-xs block">
                     {{ user.get_role_display | default:_('User') }}<b class="caret"></b>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="{% url 'users:user-profile' %}">{% trans 'Profile' %}</a></li>
            <li><a href="{% url 'users:user-profile-update' %}">{% trans 'Profile settings' %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'users:logout' %}">{% trans 'Logout' %}</a></li>
        </ul>
    </div>
    <div class="logo-element">
        JMS
    </div>
</li>
