{% extends '_without_nav_base.html' %}
{% block body %}
<div style="margin: 0 200px">
    <div class="group">
        <h2>JumpServer Clients</h2>
        <ul>
            <li><a href="/download/JumpServer-Client-Installer.msi">jumpserver-client-windows.msi</a></li>
            <li><a href="/download/JumpServer-Client-Installer.dmg">jumpserver-client-macos.dmg</a></li>
        </ul>
    </div>

    <div class="group">
        <h2>RDP Clients</h2>
        <ul>
            <li><a href="/download/Microsoft_Remote_Desktop_10.6.7_installer.pkg">Microsoft_Remote_Desktop_10.6.7_installer.pkg</a></li>
        </ul>
    </div>
</div>
<style>
ul {
    list-style-type: disc;
}
li a {
    color: blue;
}

.group {
    padding-top: 40px;
}

.group ul {
    padding-top: 10px;
}
</style>

{% endblock %}
