{% load i18n %}

<div>
    <p>
        {% blocktranslate %}Danger command warning{% endblocktranslate %}
    </p>
    <table style="
    display: inline-block;
    margin: .6em 0;
    max-width: 100%;
    min-width: 60%;
    white-space: nowrap;">
        <thead>
            <tr style="
            text-align: left;
            text-transform: uppercase;
            background: rgb(249, 238, 181);
            border: 1px solid #d9d7ce;">
                <th style="
                padding: 0 .6em;">
                    {% trans 'Item' %}
                </th>
                <th style="
                padding: 0 .6em;">
                    {% trans 'Url' %}
                </th>
            </tr>
        </thead>
        <tbody style="
        background: #fbfbf9;
        border: 1px solid #d9d7ce;">
            {% for name, item in msg_context.items %}
            <tr>
                <td style="
                padding: 0 .6em;">
                    {% trans item.label %}
                </td>
                <td style="
                white-space: normal;
                padding: 0 .6em;">
                    {% if item.url %}
                    <a href="{{ item.url }}" target="_blank">{% trans item.name %}</a>
                    {% else %}
                    <span>{% trans item.name %}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
