{% extends 'terminal/base_storage_list.html' %}
{% load i18n static %}

{% block create_storage_url %} {% url "terminal:command-storage-create" %} {% endblock%}
{% block create_storage_info %} {% trans 'Create command storage' %} {% endblock %}

{% block storage_variable %}
var storageTableAjaxUrl = '{% url "api-terminal:command-storage-list" %}';
var storageUpdateUrl = '{% url "terminal:command-storage-update" pk=DEFAULT_PK %}';
var storageDeleteUrl = '{% url "api-terminal:command-storage-detail" pk=DEFAULT_PK %}';
var storageTestConnectiveUrl = '{% url "api-terminal:command-storage-test-connective" pk=DEFAULT_PK %}';
{% endblock %}
