{% extends '_base_create_update.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}

{% block form %}
    <form id="appForm" method="post" class="form-horizontal">
        {% bootstrap_field form.name layout="horizontal" %}
        {% bootstrap_field form.type layout="horizontal" %}

        {# es #}
        <div class="es-fields hidden">
            {% bootstrap_field form.es_hosts layout="horizontal" %}
            {% bootstrap_field form.es_index layout="horizontal" %}
            {% bootstrap_field form.es_doc_type layout="horizontal" %}
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-default" type="reset"> {% trans 'Reset' %}</button>

                <button id="submit_button" class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
            </div>
        </div>

    </form>
{% endblock %}

{% block custom_foot_js %}
<script type="text/javascript">
var type_id = '#' + '{{ form.type.id_for_label }}';
var all_type_fields = ['.es-fields'];
var api_action = "{{ api_action }}";

function getReplayStorageType(){
    return $(type_id+ " option:selected").val();
}
function hiddenFields(){
    var type = getReplayStorageType();
    $.each(all_type_fields, function(index, value){
        $(value).addClass('hidden')
    });
    $('.' + type + '-fields').removeClass('hidden');
}
function constructMeta(data){
    var meta = {};
    var type = data.type;
    for (var k in data){
        if (k.startsWith(type)){
            var v = data[k];
            if (k === 'es_hosts'){
                v = v.split(',');
            }
            meta[k] = v
        }
    }
    return meta
}

$(document).ready(function () {
    hiddenFields();
})
.on('change', type_id, function(){
    hiddenFields();
})
.on("submit", "form", function (evt) {
    evt.preventDefault();
    var the_url = '{% url 'api-terminal:command-storage-list' %}';
    var method = "POST";
    {% if api_action == "update" %}
        the_url = '{% url 'api-terminal:command-storage-detail' pk=object.id %}';
        method = "PUT";
    {% endif %}
    var redirect_to = '{% url "terminal:command-storage-list" %}';
    var form = $("form");
    var data = form.serializeObject();
    data['meta'] = constructMeta(data);
    var props = {
        url: the_url,
        data: data,
        method: method,
        form: form,
        redirect_to: redirect_to
    };
    formSubmit(props);
})
</script>
{% endblock %}
