{% extends '_base_list.html' %}
{% load i18n static %}
{% block help_message %}
<div class="alert alert-info help-message">
    {% trans 'Before using this feature, make sure that the application loader has been uploaded to the application server and successfully published as a RemoteApp application' %}
    <b><a href="https://github.com/jumpserver/Jmservisor/releases" target="view_window" >{% trans 'Download application loader' %}</a></b>
</div>
{% endblock %}
{% block table_search %}{% endblock %}
{% block table_container %}
    <div class="uc pull-left  m-r-5">
        <a href="{% url 'applications:remote-app-create' %}" class="btn btn-sm btn-primary"> {% trans "Create RemoteApp" %} </a>
    </div>
    <table class="table table-striped table-bordered table-hover " id="remote_app_list_table" >
        <thead>
        <tr>
            <th class="text-center">
                <input type="checkbox" id="check_all" class="ipt_check_all" >
            </th>
            <th class="text-center">{% trans 'Name' %}</th>
            <th class="text-center">{% trans 'App type' %}</th>
            <th class="text-center">{% trans 'Asset' %}</th>
            <th class="text-center">{% trans 'System user' %}</th>
            <th class="text-center">{% trans 'Comment' %}</th>
            <th class="text-center">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script>
function initTable() {
    var options = {
        ele: $('#remote_app_list_table'),
        columnDefs: [
            {targets: 1, createdCell: function (td, cellData, rowData) {
                    cellData = htmlEscape(cellData);
                    {% url 'applications:remote-app-detail' pk=DEFAULT_PK as the_url  %}
                    var detail_btn = '<a href="{{ the_url }}">' + cellData + '</a>';
                    $(td).html(detail_btn.replace('{{ DEFAULT_PK }}', rowData.id));
                }},
            {targets: 3, createdCell: function (td, cellData, rowData) {
                    var hostname = htmlEscape(cellData.hostname);
                    var detail_btn = '<a href="{% url 'assets:asset-detail' pk=DEFAULT_PK %}">' + hostname + '</a>';
                    $(td).html(detail_btn.replace('{{ DEFAULT_PK }}', cellData.id));
                }},
            {targets: 4, createdCell: function (td, cellData, rowData) {
                    var name = htmlEscape(cellData.name);
                    var detail_btn = '<a href="{% url 'assets:system-user-detail' pk=DEFAULT_PK %}">' + name + '</a>';
                    $(td).html(detail_btn.replace('{{ DEFAULT_PK }}', cellData.id));
                }},
            {targets: 6, createdCell: function (td, cellData, rowData) {
                    var update_btn = '<a href="{% url "applications:remote-app-update" pk=DEFAULT_PK %}" class="btn btn-xs btn-info">{% trans "Update" %}</a>'.replace("{{ DEFAULT_PK }}", cellData);
                    var del_btn = '<a class="btn btn-xs btn-danger m-l-xs btn-delete" data-rid="{{ DEFAULT_PK }}">{% trans "Delete" %}</a>'.replace('{{ DEFAULT_PK }}', cellData);
                    $(td).html(update_btn + del_btn)
                }}
        ],
        ajax_url: '{% url "api-applications:remote-app-list" %}',
        columns: [
            {data: "id"},
            {data: "name" },
            {data: "get_type_display", orderable: false},
            {data: "asset_info", orderable: false},
            {data: "system_user_info", orderable: false},
            {data: "comment"},
            {data: "id", orderable: false}
        ],
        op_html: $('#actions').html()
    };
    jumpserver.initServerSideDataTable(options);
}
$(document).ready(function(){
    initTable();
})
.on('click', '.btn-delete', function () {
    var $this = $(this);
    var $data_table = $('#remote_app_list_table').DataTable();
    var name = $(this).closest("tr").find(":nth-child(2)").children('a').html();
    var rid = $this.data('rid');
    var the_url = '{% url "api-applications:remote-app-detail" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', rid);
    objectDelete($this, name, the_url);
    setTimeout( function () {
        $data_table.ajax.reload();
    }, 3000);
});
</script>
{% endblock %}