{% load i18n %}
<div>
    <p>
        {{ title | safe }}
    </p>
    <div>
        <p class="basic-items">
            <b>{% trans 'Ticket basic info' %}</b>
            <hr>
            {% for item in basic_items %}
                <li>
                    <em>{{ item.title }}: </em> {{ item.value }}
                </li>
            {% endfor %}
        </p>

        <p class="spec-items">
            <b>{% trans 'Ticket applied info' %}</b>
            <hr>
            {% for item in spec_items %}
                <li>
                    <em>{{ item.title }}: </em> {{ item.value }}
                </li>
            {% endfor %}
        </p>
    </div>
    <br>
    <div>
        <a href="{{ ticket_detail_url }}" target="_blank">
            {% trans 'View details' %}
        </a>
        <br>
        {% if ticket_approval_url %}
            <a href="{{ ticket_approval_url }}" target="_blank">
                {% trans 'Direct approval' %}
            </a>
        {% endif %}
    </div>
</div>
