{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5> 查看用户组</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="">
                    <a href="{% url 'user_group_add' %}" class="btn btn-sm btn-primary "> 添加用户组 </a>
                    <a id="del_btn" class="btn btn-sm btn-danger "> 删除所选 </a>
                    <form id="search_form" method="get" action="" class="pull-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" id="search_input" name="search" placeholder="Search">
                            <div class="input-group-btn">
                                <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                    -搜索-
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>

                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" id="select_all" name="select_all">
                                </th>
                                <th class="text-center">组名</th>
                                <th class="text-center">成员数目</th>
                                <th class="text-center">备注</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for group in user_groups.object_list %}
                            <tr class="gradeX">
                                <td class="text-center">
                                    <input class="shiftCheckbox" type="checkbox"  name="selected" value="{{ group.id }}">
                                </td>
                                <td class="text-center"> {{ group.name }} </td>
                                <td class="text-center">
                                    <a href="{% url 'user_list' %}?gid={{ group.id }}"> {{ group.id | members_count }}</a>
                                </td>
                                <td class="text-center"> {{ group.comment }} </td>
                                <td class="text-center">
                                    <a href="{% url 'user_group_edit' %}?id={{ group.id }}" class="btn btn-xs btn-info">编辑</a>
                                    <a value="{% url 'user_group_del' %}?id={{ group.id }}" class="btn btn-xs btn-danger del">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Showing {{ user_groups.start_index }} to {{ user_groups.end_index }} of {{ p.count }} entries
                            </div>
                        </div>
                        {% include 'paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block self_head_css_js %}
    {% load staticfiles %}
    <script src="{% static 'js/jquery.shiftcheckbox.js' %}"></script>
{% endblock %}
{% block self_footer_js %}
<script>
    $(document).ready(function(){
        $('.del').click(function(){
            var row = $(this).closest('tr');
            if (confirm("确定删除")) {
            $.get(
                    $(this).attr('value'),
                    {},
                    function(data){
                        row.remove();
                        alert(data);
                    }

            )}
        });

        $('#del_btn').click(function(){
            var check_array = [];
            if (confirm("确定删除")) {
                $(".gradeX input:checked").each(function() {
                    check_array.push($(this).attr("value"))
                });
                $.get("{% url 'user_group_del' %}",
                    {id: check_array.join(",")},
                    function(result){
                        alert(result);
                        $(".gradeX input:checked").closest("tr").remove();

                    }
                )
            }

        });
        $("tbody tr").shiftcheckbox({
            checkboxSelector: 'input:checkbox',
            selectAll: $('#select_all'),
            ignoreClick: 'a'
        });
        $('.shiftCheckbox').shiftcheckbox();
    });
</script>
{% endblock %}
