{% load mytags %}
<html>
    <head>
        {% include 'link_css.html' %}

        <style type="text/css">
        body
        {
        background: #FFFFFF;
        }
        </style>
    </head>

    <body>
        <div class="row">
            <div class="contact-box">
                <h2 class="text-center"><b>{{ group.name }}</b> 组中成员</h2>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">用户名</th>
                                <th class="text-center">姓名</th>
                                <th class="text-center">系统用户</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        <tr class="gradeX">
                            <td class="text-center">{{ user.username }}</td>
                            <td class="text-center">{{ user.name }}</td>
                            <td class="text-center">{{ user.id|get_role }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </tbody>

                    </table>
            </div>
        </div>
    </body>
</html>