{% extends 'base.html' %}
{% load mytags %}


{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写基本信息  <small> Add user info.</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">未启用 1</a>
                                </li>
                                <li><a href="#">未启用 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal" action="">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success text-center">{{ msg }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">用户名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="username" name="username" placeholder="Username" type="text" class="form-control" value={{ username }} {{ readonly }}>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="password" name="password" placeholder="Password" type="password" class="form-control" value={{ password }}>
                                    <span class="help-block m-b-none">
                                        登陆web的密码
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="ssh_key_pwd1" class="col-sm-2 control-label">密钥密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="ssh_key_pwd1" name="ssh_key_pwd" placeholder="SSH Key Password" type="password" class="form-control" value="{{ ssh_key_pwd1 }}">
                                    <span class="help-block m-b-none">
                                        登陆 Jumpserver 使用的SSH密钥的密码
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">姓名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" placeholder="Name" type="text" class="form-control" value={{ name }} >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="groups" class="col-lg-2 control-label">属组<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select id="groups" name="groups" class="form-control m-b" multiple>
                                        {% for group in all_group %}
                                            {% if groups_str %}
                                                {% if group.id|int2str in groups_str %}
                                                    <option value="{{ group.id }}" selected>{{ group.name }}</option>
                                                {% else %}
                                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                                {% endif %}
                                            {% else %}
                                                {% if forloop.first %}
                                                    <option value="{{ group.id }}" selected>{{ group.name }}</option>
                                                {% else %}
                                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="role" class="col-lg-2 control-label">角色<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select id="role" name="role" class="form-control m-b">
                                        {% for r, role_name in user_role.items %}
                                            {% ifequal r role_post %}
                                                <option value="{{ r }}" selected>{{ role_name }}</option>
                                            {% else %}
                                                <option value="{{ r }}">{{ role_name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="ssh_pwd" class="col-sm-2 control-label">SSH密码</label>
                                <div class="col-sm-8">
                                    <input id="ssh_pwd" name="ssh_pwd" type="password" placeholder="SSH Password" class="form-control" value="{{ ssh_pwd }}">
                                    <span class="help-block m-b-none">
                                        如果使用password方式，该密码是用户在后端服务器的密码
                                    </span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input id="email" name="email" type="email" placeholder="Email" class="form-control" value="{{ email }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">是否启用</label>
                                <div class="col-sm-8">
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="1" name="is_active" checked>启用 </label>
                                    </div>
                                    <div class="radio i-checks">
                                        <label><input type="radio" value="0" name="is_active">禁用 </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="submit">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip地址不正确'],
        check_port: [/^\d{1,5}$/, '端口号不正确'],
        type_m: function(element){
                    return  $("#M").is(":checked");
            }
    },
    fields: {
        "username": {
            rule: "required",
            tip: "输入用户名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "password": {
            rule: "required;length[6~50]",
            tip: "输入密码",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "ssh_key_pwd1": {
            rule: "required;length[6~50]",
            tip: "ssh私钥密码",
            ok: "",
            msg: {required: "必须填写"}
        },
        "groups": {
            rule: "checked",
            tip: "选择用户组",
            ok: "",
            msg: {checked: "至少选择一个组"}
        },
        "name": {
            rule: "required",
            tip: "姓名",
            ok: "",
            msg: {required: "必须填写"}
        },
        "role": {
            rule: "checked",
            tip: "角色",
            ok: "",
            msg: {required: "选择一个"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});

</script>


{% endblock %}