{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block custom_head_css_js %}
    <link href="{% static "css/plugins/select2/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">
    <script src="{% static "js/plugins/select2/select2.full.min.js" %}"></script>
    <script src="{% static "js/plugins/sweetalert/sweetalert.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    {#       头部         #}
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="" class="text-center"><i
                                    class="fa fa-laptop"></i> {% trans 'Detail' %} </a></li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default"
                                   href="{% url 'hybris:template-install-update'  pk=install_task.id %}"><i
                                        class="fa fa-edit"></i>Update</a>
                            </li>
                            {% if install_task.config.allowed_delete %}
                                <li class="pull-right">
                                    <a class="btn btn-outline btn-danger btn-delete-user">
                                        <i class="fa fa-edit"></i>Delete
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="tab-content">
                        {#     左侧显示区块       #}
                        <div class="col-sm-7" style="padding-left: 0">
                            {#             显示标题与控件           #}
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ install_task.config.name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                {#              显示内容                  #}
                                <div class="ibox-content">
                                    <table class="table">
                                        <tbody>
                                        <tr class="no-borders-tr">
                                            <td width="20%">{% trans 'Hybris Path' %}:</td>
                                            <td><b>{{ install_task.hybris_path }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">{% trans 'Deploy Path' %}:</td>
                                            <td><b>{{ install_task.deploy_path }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Deploy Jrebel' %}:</td>
                                            <td><b>{{ install_task.deploy_jrebel }}</b></td>
                                        </tr>
                                        {% if install_task.deploy_jrebel %}
                                            <tr>
                                                <td>{% trans 'Jrebel Path' %}:</td>
                                                <td><b>{{ install_task.jrebel_path }}</b></td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td>{% trans 'Db Driver Url' %}:</td>
                                            <td><b>{{ install_task.db_driver_url }}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5" style="padding-left: 0;padding-right: 0">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> {% trans 'Exec Task' %}
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                        <form>
                                            <tr class="no-borders-tr">
                                                <td colspan="2">
                                                    <select data-placeholder="{% trans 'Select assets' %}"
                                                            class="select2" style="width: 100%" multiple=""
                                                            tabindex="4">
                                                        {% for asset in assets %}
                                                            <option value="{{ asset.id }}">{{ asset.hostname }}: {{ asset.ip }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr class="no-borders-tr">
                                                <td colspan="2">
                                                    <button type="button"
                                                            class="btn btn-primary btn-sm">{% trans 'Confirm' %}</button>
                                                </td>
                                            </tr>
                                        </form>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> {% trans 'Exec Task' %}
                                </div>
                                <div class="panel-body">
                                    <table class="table group_edit">
                                        <tbody>
                                        <form>
                                            <tr>
                                                <td colspan="2" class="no-borders">
                                                    <select data-placeholder="{% trans 'Select asset groups' %}"
                                                            class="select2" style="width: 100%" multiple=""
                                                            tabindex="4">
                                                        {% for asset_group in asset_groups %}
                                                            <option value="{{ asset_group.id }}">{{ asset_group.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="no-borders">
                                                    <button type="button" class="btn btn-info btn-small"
                                                            id="btn_add_user_group">{% trans 'Confirm' %}</button>
                                                </td>
                                            </tr>
                                        </form>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_foot_js %}
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
{% endblock %}

