{% extends 'base.html' %}
{% load mytags %}
{% load bootstrap %}
{% block content %}
{% include 'nav_cat_bar.html' %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 填写资产基本信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="panel blank-panel">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="{% url 'asset_add' %}" class="text-center"><i class="fa fa-laptop"></i> 单台添加 </a></li>
                                <li><a href="{% url 'asset_add_batch' %}" class="text-center"><i class="fa fa-bar-chart-o"></i> 批量添加 </a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="tab-1" class="ibox float-e-margins tab-pane active">
                                    {% if error %}
                                        <div class="alert alert-warning text-center">{{ error }}</div>
                                    {% endif %}
                                    {% if msg %}
                                        <div class="alert alert-success text-center">{{ msg }}</div>
                                    {% endif %}

                                    <form id="assetForm" method="post" class="form-horizontal">

                                        {{ af.hostname|bootstrap_horizontal }}

                                        <div class="hr-line-dashed"></div>
                                        {{ af.ip|bootstrap_horizontal }}
                                        <p class="col-sm-offset-2">Tips: 如果IP地址不填写, IP默认会设置与主机名一致</p>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label for="j_group" class="col-sm-2 control-label">管理用户<span class="red-fonts"> *</span></label>
                                            <div class="col-sm-2">
                                                <div class="radio i-checks">
                                                    <label style="padding-left: 0">
                                                        <input type="checkbox" checked="checked" id="id_use_default_auth" name="use_default_auth"><span> 使用默认 </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="col-sm-offset-2">Tips: 管理用户是服务器存在的root或拥有sudo的用户，用来推送系统用户</p>
                                        <div class="form-group" id="admin_account" style="display: none">
                                            <label class="col-sm-2 control-label"> <span class="red-fonts"></span> </label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="Username" name="username" class="form-control">
                                            </div>

                                            <label class="col-sm-1 control-label"> <span class="red-fonts"></span> </label>
                                            <div class="col-sm-4">
                                                <input type="password" placeholder="Password" name="password" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group" id="id_port">
                                            <div class="hr-line-dashed"></div>
                                            <label class="col-sm-2 control-label"> 端口<span class="red-fonts">*</span> </label>
                                            <div class="col-sm-8">
                                                <input type="text" placeholder="Port" name="port" class="form-control" value="{{ default_port }}">
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        {{ af.group|bootstrap_horizontal }}

{#                                        {{ af.is_active|bootstrap_horizontal }}#}

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group"><label class="col-sm-2 control-label"> 是否激活<span class="red-fonts"> *</span> </label>
                                            <div class="col-sm-8">
                                                <div class="radio i-checks">
                                                    <label> <input type="radio" checked="" value="1" name="is_active">激活 </label>
                                                    <label> <input type="radio" value="0" name="is_active"> 禁用</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white" type="reset"> 重置 </button>
                                                <button class="btn btn-primary" type="submit"> 提交 </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block self_footer_js %}
<script>
    $('document').ready(function(){
        var check_default = "{{ default_setting.name }}";
        console.log(check_default);
        if (check_default != 'default'){
            $('#id_use_default_auth').attr('disabled', true);
            $('#id_use_default_auth').attr('checked', false);
            $('#admin_account').css('display', 'block');
        } else {
            $('#id_use_default_auth').click(function(){
                if ($(this).is(':checked')){
                    $('#admin_account').css('display', 'none');
                }
                else {
                    $('#admin_account').css('display', 'block');
                }
            })
        }

    });

    var required_fields = ["id_hostname", "id_port"];
    required_fields.forEach(function(field) {
        $('label[for="' + field + '"]').parent().addClass("required");
    });

    $('#assetForm').validator({
        timely: 2,
        theme: "yellow_right_effect",
        rules: {
            check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip地址不正确'],
            check_port: [/^\d{1,5}$/, '端口号不正确'],
            use_default_auth: function() {
                var str1 = $("#id_use_default_auth").is(":checked");
                if (str1 == true){
                    var decide = false;
                } else {
                    var decide = true;
                }
                return decide}
        },
        fields: {
            "ip": {
                rule: "check_ip;",
                tip: "输入IP",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "hostname": {
                rule: "required;length[0~53]",
                tip: "填写主机名",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "port": {
                rule: "required",
                tip: "输入端口号",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "username": {
                rule: "required(use_default_auth)",
                tip: "输入用户名",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "password": {
                rule: "required(use_default_auth);length[0~64]",
                tip: "输入密码",
                ok: "",
                msg: {required: "必须填写!"}
            }
        },
        valid: function(form) {
            form.submit();
        }
    });

</script>

{% endblock %}