{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> 主机组详细信息列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="">
                        <a href="{% url 'asset_group_add' %}" class="btn btn-sm btn-primary "> 添加主机组 </a>
                        <a class="btn btn-sm btn-danger" id="del_check"> 删除所选 </a>
                        <form id="search_form" method="get" action="" class="pull-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id="search_input" name="keyword" placeholder="Search">
                                <input type="text" style="display: none">
                                <div class="input-group-btn">
                                    <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                        - 搜索 -
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <form id="contents_form" name="contents_form">
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('contents_form')">
                                </th>
                                <th class="text-center"> 主机组名 </th>
                                <th class="text-center"> 主机数量 </th>
                                <th class="text-center"> 备注 </th>
                                <th class="text-center"> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for asset_group in asset_groups.object_list %}
                            <tr class="gradeX">
                                <td class="text-center" name="id" value="{{ asset_group.id }}" data-editable='false'>
                                    <input name="id" value="{{ asset_group.id }}" type="checkbox" class="i-checks">
                                </td>
                                <td class="text-center"><a href="{% url 'asset_list' %}?group_id={{ asset_group.id }}">{{ asset_group.name }} </a>  </td>
                                <td class="text-center"> <a href="{% url 'asset_list' %}?group_id={{ asset_group.id }}">{{ asset_group.asset_set.count }}</a> </td>
                                <td class="text-center"> {{ asset_group.comment }} </td>
                                <td class="text-center">
                                    <a href="{% url 'asset_group_edit' %}?id={{ asset_group.id }}" class="btn btn-xs btn-info">编辑</a>
                                    <a value="{% url 'asset_group_del' %}?id={{ asset_group.id }}" class="btn btn-xs btn-danger group_del">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Showing {{ asset_groups.start_index }} to {{ asset_groups.end_index }} of {{ p.count }} entries
                            </div>
                        </div>
                        {% include 'paginator.html' %}
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block self_footer_js %}
<script>
    $(document).ready(function(){
        $('.group_del').click(function(){
            var row = $(this).closest('tr');
            if (confirm('确定删除')) {
                $.get(
                        $(this).attr('value'),
                        {},
                        function (data) {
                            row.remove();
                        }
                )
            }
        });

        $('#del_check').click(function(){
            var check_array = [];
            if (confirm('确定删除')){
                $('tr.gradeX input:checked').each(function(){
                    check_array.push($(this).attr('value'))
                });
                $.get(
                        '{% url "asset_group_del" %}',
                        {id: check_array.join(',')},
                        function(data){
                            $('tr.gradeX input:checked').closest('tr').remove();
                        }
                )

            }
        })
    });
</script>

{% endblock %}
