{% extends 'base.html' %}
{% block content %}
{% include 'nav_cat_bar.html' %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 填写主机基本信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">未启用 1</a>
                            </li>
                            <li><a href="#">未启用 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="panel blank-panel">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="/jasset/host_add/" class="text-center"><i class="fa fa-laptop"></i> 单台添加 </a></li>
                                <li><a href="/jasset/host_add_multi" class="text-center"><i class="fa fa-bar-chart-o"></i> 批量添加 </a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="tab-1" class="ibox float-e-margins tab-pane active">
                                    {% if emg %}
                                        <div class="alert alert-warning text-center">{{ emg }}</div>
                                    {% endif %}
                                    {% if smg %}
                                        <div class="alert alert-success text-center">{{ smg }}</div>
                                    {% endif %}
                                    <form id="assetForm" method="post" class="form-horizontal">
                                        <div class="form-group"><label class="col-sm-2 control-label"> IP地址<span class="red-fonts">*</span> </label>
                                            <div class="col-sm-8"><input type="text" name="j_ip" placeholder="192.168.1.1" class="form-control"></div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group"><label class="col-sm-2 control-label"> 端口号<span class="red-fonts">*</span> </label>
                                            <div class="col-sm-8"><input type="text" placeholder="22" name="j_port" class="form-control"></div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group"><label class="col-sm-2 control-label"> 登录方式<span class="red-fonts">*</span> </label>
                                            <div class="col-sm-8">
                                                <div class="radio i-checks"><label> <input type="radio" id="L" checked="" value="L" name="j_type" onclick="show(this)"> <i> LDAP </i></label></div>
                                                <div class="radio i-checks"><label> <input type="radio" id="M" value="M" name="j_type" onclick="show(this)"> <i> MAP </i></label></div>
                                            </div>

                                            <div name="a1" id=a1 style="display:none;">
                                                <div class="form-group"><label class="col-sm-2 col-sm-offset-1 control-label"> 普通用户名 </label>
                                                    <div class="col-sm-6"><input type="text" name="j_user" placeholder="lilei" class="form-control"></div>
                                                </div>

                                                <div class="form-group"><label class="col-sm-2 col-sm-offset-1 control-label"> 普通用户密码 </label>
                                                    <div class="col-sm-6"><input type="password" name="j_password" placeholder="Password" class="form-control"></div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label for="j_idc"  class="col-lg-2 control-label"> 所属IDC<span class="red-fonts">*</span> </label>
                                            <div class="col-sm-8">
                                                <select id="j_idc" name="j_idc" class="form-control m-b">
                                                    {% for i in eidc %}
                                                        <option> {{ i }} </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label for="j_dept" class="col-lg-2 control-label">所属部门<span class="red-fonts">*</span></label>
                                            <div class="col-sm-8">
                                                <select id="j_dept" name="j_dept" class="form-control m-b" multiple size="10">
                                                    {% for d in edept %}
                                                        <option type="checkbox" value="{{ d.name }}">{{ d.name }} {% if d.comment %} --- {{ d.comment }} {% endif %}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label for="j_group" class="col-lg-2 control-label">所属主机组<span class="red-fonts">*</span></label>
                                            <div class="col-sm-8">
                                                <select id="j_group" name="j_group" class="form-control m-b" multiple size="10">
                                                    {% for g in egroup %}
                                                        <option type="checkbox" value="{{ g.name }}">{{ g.name }} {% if g.comment %} --- {{ g.comment }} {% endif %}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <!--<div class="hr-line-dashed"></div>-->
                                        <!--<div class="form-group">-->
                                            <!--<label for="j_group" class="col-sm-2 control-label"> 所属用户组<span class="red-fonts">*</span> </label>-->
                                            <!--<div class="col-sm-8">-->
                                                <!--{% for g in eusergroup %}-->
                                                    <!--<label class="checkbox-inline"><input type="checkbox" id="j_usergroup" value="{{ g }}" name="j_usergroup"> {{ g }} </label>-->
                                                <!--{% endfor %}-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group"><label class="col-sm-2 control-label"> 是否激活<span class="red-fonts">*</span> </label>
                                            <div class="col-sm-8">
                                                <div class="radio i-checks"><label> <input type="radio" checked="" value="1" name="j_active"> <i> 激活 </i></label></div>
                                                <div class="radio i-checks"><label> <input type="radio"  value="0" name="j_active"> <i> 禁用 </i></label></div>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group"><label class="col-sm-2 control-label"> 备注 </label>
                                            <div class="col-sm-8"><input type="text" placeholder="hadoop01" name="j_comment" class="form-control"></div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-5">
                                                <button class="btn btn-white" type="submit"> 重置 </button>
                                                <button class="btn btn-primary" type="submit"> 提交 </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var showFlag={};
    function show(o){
    showFlag[o.name]=o.value;
    if(showFlag.j_type=="M"){
        document.getElementById("a1").style.display="";
    }
    else{
        document.getElementById("a1").style.display="none";
    }};

$('#assetForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip地址不正确'],
        check_port: [/^\d{1,5}$/, '端口号不正确'],
        type_m: function(element){
                    return  $("#M").is(":checked");
            }
    },
    fields: {
        "j_ip": {
            rule: "required;check_ip",
            tip: "输入IP",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "j_port": {
            rule: "required;check_port",
            tip: "输入端口号",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "j_group": {
            rule: "checked",
            tip: "选择业务组",
            ok: "",
            msg: {checked: "至少选择一个组"}
        },
        "j_usergroup": {
            rule: "checked",
            tip: "选择用户组",
            ok: "",
            msg: {checked: "至少选择一个组"}
        },
        "j_user": {
            rule: "required(type_m)",
            tip: "普通用户名",
            ok: "",
            msg: {required: "请填写用户名"}
        },
        "j_password": {
            rule: "required(type_m);length[6~16]",
            tip: "密码6-16位",
            ok: "",
            msg: {required: "6-16位"}
        },
        "j_root": {
            rule: "required(type_m)",
            tip: "超管用户名",
            ok: "",
            msg: {required: "请填写用户名"}
        },
        "j_passwd": {
            rule: "required(type_m);length[6~16]",
            tip: "密码6-16位",
            ok: "",
            msg: {required: "6-16位"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});

</script>

{% endblock %}