{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> IDC详细信息列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="">
                    <a href="{% url 'idc_add' %}" class="btn btn-sm btn-primary "> 添加机房 </a>
                    <input type="button" id="del_check" class="btn btn-danger btn-sm"  name="del_button" value="删除所选"/>
                    <form id="search_form" method="get" action="" class="pull-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" id="search_input" name="keyword" placeholder="Search">
                            <input type="text" style="display: none">
                            <div class="input-group-btn">
                                <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>

                    <form id="contents_form" name="contents_form">
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                {% ifequal session_role_id 2 %}
                                    <th class="text-center"><input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('contents_form')"></th>
                                {% endifequal %}
                                <th class="text-center"> 机房名 </th>
                                <th class="text-center"> 主机数量 </th>
                                <th class="text-center"> 联系人 </th>
                                <th class="text-center"> 电话 </th>
                                <th class="text-center"> 备注 </th>
                                <th class="text-center"> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for post in contacts.object_list  %}
                            <tr class="gradeX">
                                <td class="text-center" name="j_id" value="{{ post.id }}" data-editable='false'><input name="id" value="{{ post.id }}" type="checkbox" class="i-checks"></td>
                                <td class="text-center"> <a href="{% url 'asset_list' %}?idc_id={{ post.id }}">{{ post.name }}</a> </td>
                                <td class="text-center"> <a href="{% url 'asset_list' %}?idc_id={{ post.id }}">{{ post.asset_set.count }}</a> </td>
                                <td class="text-center"> {{ post.linkman }} </td>
                                <td class="text-center"> {{ post.phone }} </td>
                                <td class="text-center"> {{ post.comment }} </td>
                                <td class="text-center">

                                    <a href="{% url 'idc_edit' %}?id={{ post.id }}" class="btn btn-xs btn-info">编辑</a>
                                    <a value="{% url 'idc_del' %}?id={{ post.id }}" class="btn btn-xs btn-danger idc_del">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                   <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Showing {{ contacts.start_index }} to {{ contacts.end_index }} of {{ p.count }} entries
                            </div>
                        </div>
                        {% include 'paginator.html' %}
                    </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block self_footer_js %}
<script>
    $(document).ready(function(){
        $('.idc_del').click(function(){
            var row = $(this).closest('tr');
            if (confirm('确定删除?')) {
                $.get(
                        $(this).attr('value'),
                        {},
                        function (data) {
                            row.remove();
                        }
                );
                return false
            }
        });

        $('#del_check').click(function(){
            var check_array = [];
            if (confirm('确定删除?')){
                $('tr.gradeX input:checked').each(function(){
                    check_array.push($(this).attr('value'))
                });
                $.get(
                        '{% url "idc_del" %}',
                        {id: check_array.join(',')},
                        function(data){
                            $('tr.gradeX input:checked').closest('tr').remove();
                        }
                );
                return false;
            }
        })
    });
</script>
{% endblock %}