{% extends 'base.html' %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="">
                    <a target="_blank" href="/jasset/idc_add" class="btn btn-sm btn-primary "> 添加IDC </a>
                    </div>

                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center"><input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('contents_form')"></th>
                                <th class="text-center"> 机房名 </th>
                                <th class="text-center"> 主机数量 </th>
                                <th class="text-center"> 备注 </th>
                                <th class="text-center"> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for post in contacts.object_list  %}
                            <tr class="gradeX">
                                <td class="text-center" name="j_id" value="{{ post.id }}" data-editable='false'><input name="id" value="{{ post.id }}" type="checkbox" class="i-checks"></td>
                                <td class="text-center"> {{ post.name }} </td>
                                <td class="text-center"> <a href="/jasset/idc_detail/?id={{ post.id }}">{{ post.asset_set.count }}</a> </td>
                                <td class="text-center"> {{ post.comment }} </td>
                                <td class="text-center">
                                    <a href="/jasset/idc_detail/?id={{ post.id }}" class="iframe btn btn-xs btn-primary">详情</a>
                                    <a href="/jasset/idc_del/{{ post.id }}" class="btn btn-xs btn-danger">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                   {% include 'paginator.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}