{% extends '_list_base.html' %}
{% load i18n %}
{% load common_tags %}
{% block content_left_head %}
    <a href="{% url 'perms:asset-permission-create' %}" class="btn btn-sm btn-primary "> {% trans "Create permission" %} </a>
{% endblock %}

{% block table_head %}
    <th class="text-center">
        <input type="checkbox" id="check_all" onclick="checkAll('check_all', 'checked')">
    </th>
    <th class="text-center"><a href="{% url 'perms:asset-permission-list' %}?sort=name">{% trans 'Name' %}</a></th>
    <th class="text-center">{% trans 'User count' %}</th>
    <th class="text-center">{% trans 'User group count' %}</th>
    <th class="text-center">{% trans 'Asset count' %}</th>
    <th class="text-center">{% trans 'Asset group count' %}</th>
    <th class="text-center">{% trans 'System user count' %}</th>
    <th class="text-center"><a href="{% url 'users:user-list' %}?sort=date_expired">{% trans 'Is valid' %}</a></th>
    <th class="text-center"></th>
{% endblock %}

{% block table_body %}
     {% for asset_permission in asset_permission_list %}
         <tr class="gradeX">
             <td class="text-center">
                 <input type="checkbox" name="checked" value="{{ asset_permission.id }}">
             </td>
             <td class="text-center">
                 <a href="{% url 'perms:asset-permission-detail' pk=asset_permission.id %}">
                     {{ asset_permission.name }}
                 </a>
             </td>
             <td class="text-center">{{ asset_permission.users.count}}</td>
             <td class="text-center">{{ asset_permission.user_groups.count}}</td>
             <td class="text-center">{{ asset_permission.assets.count }}</td>
             <td class="text-center">{{ asset_permission.asset_groups.count }}</td>
             <td class="text-center">{{ asset_permission.system_users.count }}</td>
             <td class="text-center">
             {% if asset_permission.is_valid %}
                 <i class="fa fa-check text-navy"></i>
             {% else %}
                 <i class="fa fa-times text-danger"></i>
             {% endif %}
             </td>
             <td class="text-center">
                 <a href="{% url 'perms:asset-permission-update' pk=asset_permission.id %}" class="btn btn-xs btn-info">{% trans 'Update' %}</a>
                 <a href="{% url 'perms:asset-permission-delete' pk=asset_permission.id %}" class="btn btn-xs btn-danger del">{% trans 'Delete' %}</a>
             </td>
         </tr>
     {% endfor %}
{% endblock %}

{% block content_bottom_left %}
    <form id="" method="get" action="" class=" mail-search">
        <div class="input-group">
            <select class="form-control m-b" style="width: auto">
                <option>{% trans 'Delete selected' %}</option>
                <option>{% trans 'Update selected' %}</option>
                <option>{% trans 'Deactive selected' %}</option>
                <option>{% trans 'Export selected' %}</option>
            </select>

            <div class="input-group-btn pull-left" style="padding-left: 5px;">
                <button id='search_btn' type="submit" style="height: 32px;"  class="btn btn-sm btn-primary">
                 {% trans 'Submit' %}
                </button>
            </div>

        </div>
   </form>
{% endblock %}


