{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block custom_head_css_js %}
    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="{% url 'perms:asset-permission-detail' pk=object.id %}" class="text-center"><i class="fa fa-laptop"></i> {% trans 'Detail' %} </a>
                            </li>
                            <li>
                                <a href="{% url 'perms:asset-permission-user-list' pk=object.id %}" class="text-center">
                                <i class="fa fa-bar-chart-o"></i> {% trans 'Users and user groups' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'perms:asset-permission-asset-list' pk=object.id %}" class="text-center">
                                <i class="fa fa-bar-chart-o"></i> {% trans 'Assets and node' %}</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default" href="{% url 'perms:asset-permission-update' pk=object.id %}"><i class="fa fa-edit"></i>{% trans 'Update' %}</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-danger btn-delete-perm">
                                    <i class="fa fa-trash-o"></i>{% trans 'Delete' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0;">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ object.name }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table">
                                        <tbody>
                                        <tr class="no-borders-tr">
                                            <td>{% trans 'Name' %}:</td>
                                            <td><b>{{ object.name }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'User count' %}:</td>
                                            <td><b>{{ object.users.count }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'User group count' %}:</td>
                                            <td><b>{{ object.users.count }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Asset count' %}:</td>
                                            <td><b>{{ object.assets.count }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Node count' %}:</td>
                                            <td><b>{{ object.nodes.count }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'System user count' %}:</td>
                                            <td><b>{{ object.system_users.count }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Date start' %}:</td>
                                            <td><b>{{ object.date_start }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Date expired' %}:</td>
                                            <td><b>{{ object.date_expired }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Date created' %}:</td>
                                            <td><b>{{ object.date_created }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Created by' %}:</td>
                                            <td><b>{{ object.created_by  }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Comment' %}:</td>
                                            <td><b>{{ object.comment }}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5" style="padding-left: 0;padding-right: 0">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> {% trans 'Quick update' %}
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                        <tr class="no-borders-tr">
                                            <td width="50%">{% trans 'Active' %} :</td>
                                            <td><span style="float: right">
                                                <div class="switch">
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" {% if object.is_active %} checked {% endif %} class="onoffswitch-checkbox" id="is_active">
                                                        <label class="onoffswitch-label" for="is_active">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> {% trans 'System user' %}
                                </div>
                                <div class="panel-body">
                                    <table class="table" id="system-user-table">
                                        <tbody>
                                        <form>
                                            <tr class="no-borders-tr">
                                                <td colspan="2">
                                                    <select data-placeholder="{% trans 'Select system users' %}" class="select2" style="width: 100%" multiple="" tabindex="4">
                                                        {% for system_user in system_users_remain %}
                                                        <option value="{{ system_user.id }}" id="opt_{{ system_user.id }}">{{ system_user }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr class="no-borders-tr">
                                                <td colspan="2">
                                                    <button type="button" class="btn btn-info btn-small" id="btn-add-system-user">{% trans 'Add' %}</button>
                                                </td>
                                            </tr>
                                        </form>

                                        {% for system_user in object.system_users.all %}
                                        <tr {% if forloop.counter == 1 %} class="no-borders-tr" {% endif %} >
                                          <td ><b class="bdg-system-user" data-uid={{ system_user.id }}>{{ system_user }}</b></td>
                                          <td>
                                              <button class="btn btn-danger btn-xs btn-remove-user" data-uid="{{ system_user.id }}" type="button" style="float: right;"><i class="fa fa-minus"></i></button>
                                          </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_foot_js %}
<script>
jumpserver.system_users_selected = {};

function updateSystemUser(system_users) {
    var the_url = "{% url 'api-perms:asset-permission-detail' pk=object.id %}";
    var body = {
        system_users: Object.assign([], system_users)
    };
    APIUpdateAttr({
        url: the_url,
        body: JSON.stringify(body)
    });
}

$(document).ready(function () {
    $('.select2').select2()
        .on('select2:select', function(evt) {
             var data = evt.params.data;
             jumpserver.system_users_selected[data.id] = data.text;
        })
        .on('select2:unselect', function(evt) {
            var data = evt.params.data;
            delete jumpserver.system_users_selected[data.id]
        })
})
.on('click', '.btn-delete-perm', function () {
    var $this = $(this);
    var name = "{{ asset_permission.name }}";
    var uid = "{{ object.id }}";
    var the_url = '{% url "api-perms:asset-permission-detail" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', uid);
    var redirect_url = "{% url 'perms:asset-permission-list' %}";
    objectDelete($this, name, the_url, redirect_url);
})
.on('click', '#btn-add-system-user', function () {
    if (Object.keys(jumpserver.system_users_selected).length === 0) {
		return false;
	}
    var system_users = $('.bdg-system-user').map(function() {
        return $(this).data('uid');
    }).get();

    $.map(jumpserver.system_users_selected, function(name, index) {
        system_users.push(index);
        $('#opt_' + index).remove();
        $('.group_edit tbody').append(
           '<tr>' +
           '<td><b class="bdg-system-user" data-gid="' + index + '">' + name + '</b></td>' +
           '<td><button class="btn btn-danger btn-xs pull-right btn-remove-user" type="button"><i class="fa fa-minus"></i></button></td>' +
           '</tr>'
        )
    });
    updateSystemUser(system_users);
}).on('click', '.btn-remove-user', function () {
    var $this = $(this);
    var $tr = $this.closest('tr');
    var system_users = $('.bdg-system-user').map(function() {
        if ($(this).data('uid') !== $this.data('uid')){
            return $(this).data('uid');
        }
    }).get();
    updateSystemUser(system_users);
    $tr.remove()
}).on('click', '#is_active', function () {
    var the_url = '{% url "api-perms:asset-permission-detail" pk=object.id %}';
    var checked = $(this).prop('checked');
    var body = {
        'is_active': checked
    };
    APIUpdateAttr({
        url: the_url,
        body: JSON.stringify(body),
    });
})
</script>
{% endblock %}
