{% extends 'base.html' %}
{% block content %}

    <form class="form-horizontal" role="form" method="post" action="" >
        <fieldset >
            <legend>添加执行命令主机</legend>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            {% if msg %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="pub_ip" class="col-sm-2 control-label">IP<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="pub_ip" name="pub_ip" placeholder="IP">
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">账号<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="username" name="username" placeholder="账号">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                </div>
            </div>
            <div class="form-group">
                <label for="port" class="col-sm-2 control-label">端口号<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="port" name="port" placeholder="端口号">
                </div>
            </div>
            <div class="form-group">
                <label for="sudo" class="col-sm-2 control-label">sudo<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="checkbox" style="margin-top: 12px;" id="sudo" name="sudo">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button class="btn btn-sm btn-primary">添加</button>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}