{% extends 'base.html' %}
{% block content %}
    <form class="form-horizontal" role="form" method="post" action="/chgUser/" >
        <fieldset >
            <legend>修改用户信息</legend>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            {% if form.errors %}
                <div class="alert alert-danger">
                     Please correct the error{{ form.errors|pluralize }} below.
                </div>
            {% endif %}

            {% if msg %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" id="username" name="username" class="form-control" value="{{ user.username }}" readOnly="readOnly">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="password" id="password" name="password" class="form-control" value="{{ user.password }}" >
                </div>
            </div>
            <div class="form-group">
                <label for="password_again" class="col-sm-2 control-label">确认密码<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="password" id="password_again" name="password_again" class="form-control" value="{{ user.password }}" >
                </div>
            </div>
            <div class="form-group">
                <label for="keypass" class="col-sm-2 control-label">密钥密码<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="password" id="keypass" name="keypass" class="form-control" value="{{ user.key_pass }}" >
                </div>
            </div>
            <div class="form-group">
                <label for="keypass_again" class="col-sm-2 control-label">确认密码<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="password" id="keypass_again" name="keypass_again" class="form-control" value="{{ user.key_pass }}" >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" id="name" name="name" class="form-control" value="{{ user.name }}" >
                </div>
            </div>
            <div class="form-group">
                <label for="group" class="col-sm-2 control-label">属组<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <select multiple name="group" id="group" class="form-control">
                        {% for group in groups %}
                        <option value="{{ group.name }}" >{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="is_admin" class="col-sm-2 control-label">组admin</label>
                <div class="col-sm-4">
                    <input type="checkbox" name="is_admin" id="is_admin" value="{{ is_admin }}">
                </div>
            </div>
            <div class="form-group">
                <label for="is_superuser" class="col-sm-2 control-label">超级admin</label>
                <div class="col-sm-4">
                    <input type="checkbox" name="is_superuser" id="is_superuser" value="{{ is_superuser }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button class="btn btn-primary">添加</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}