<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>信息</title>

<style type="text/css">
body{
	font-family:"Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Helvetica, Arial, "宋体", sans-serif;
	color: #575757;
        background: #444 url(/static/images/bg-login.gif)
}

</style>
<script language="javascript">
 var i=2;
   window.setInterval("settime()",1000);
   window.setTimeout("toload()",5000);
    function settime(){
        var divinner=document.getElementById("settime");
            divinner.innerText=i;
                i--;
                 }
    function toload(){
        history.go(-1);
        }
</script>
</head>

<body>

{% if msg %}
<div class="alert alert-success"><b>成功:</b>{{ msg }}</div>
{% endif %}

{% if error %}
<div class="alert alert-danger"><b>错误:</b>{{ error }}</div>
{% endif %}
</body>
</html>






