<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>信息</title>

<style type="text/css">

</style>
<script language="javascript">
 var i=2;
   window.setInterval("settime()",1000);
   window.setTimeout("toload()",5000);
    function settime(){
        var divinner=document.getElementById("settime");
            divinner.innerText=i;
                i--;
                 }
    function toload(){
        history.go(-1);
        }
</script>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5js"></script>
    <![endif]-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <script src="/static/js/main.js"></script>
    <script src="/static/js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>

{% if msg %}
<div class="alert alert-success" style="margin-left: auto;margin-right: auto;margin-top: 60px;width:500px;"><b>成功:</b>{{ msg }}</div>
{% endif %}

{% if error %}
<div class="alert alert-danger" style="margin-left: auto;margin-right: auto;margin-top: 60px;width:500px;"><b>错误:</b>{{ error }}</div>
{% endif %}
</body>
</html>






