<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumpserver | 开源跳板机系统</title>
    <link rel="shortcut icon" href="/static/img/facio.ico" type="image/x-icon">
	{% include "link_css.html" %}

</head>

<body class="skin-1">
    <div id="wrapper">
	<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
		{% include "nav.html" %}
	    </div>
	</nav>
    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include "nav_bar_header.html" %}
    </nav>
    </div>
        <div class="row wrapper border-bottom white-bg page-heading">
    {% include "nav_cat_bar.html" %}
        </div>
    <div class="wrapper wrapper-content">
    {{ content }}
    </div>

	{% include "footer.html" %}

    </div>
        </div>



     {% include "script.html" %}
</body>

</html>
