<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            {% include 'nav_li_profile.html' %}
            <li>
               <a href="css_animation.html"><i class="fa fa-th-large"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span></a>
              <!--<a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">仪表盘</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="index.html">Dashboard v.1</a></li>
                    <li ><a href="dashboard_2.html">Dashboard v.2</a></li>
                    <li ><a href="dashboard_3.html">Dashboard v.3</a></li>
                </ul>-->
            </li>
            <li>
                <a href="#"><i class="fa fa-rebel"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/user/showlist/">查看用户</a></li>
                    <li><a href="/user/add/">添加用户</a></li>
                    <li><a href="/group/showlist/">查看属组</a></li>
                    <li><a href="/group/add/">添加属组</a></li>
                </ul>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-cube"></i> <span class="nav-label">资产管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/jasset/jlist/">查看资产</a></li>
                    <li><a href="/jasset/jadd/">添加资产</a></li>
                    <li><a href="/idc/showlist/">查看机房</a></li>
                    <li><a href="/idc/add/">添加机房</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">授权管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/perm/showlist/">查看授权</a></li>
                    <li><a href="/perm/add/">添加授权</a></li>
                    <li><a href="/sudo/showlist/">查看sudo</a></li>
                    <li><a href="/sudo/add/">添加sudo</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">日志审计</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/log/showlist/">查看日志</a></li>
                    <li><a href="/log/detail/">日志分析</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-download"></i> <span class="nav-label">上传下载</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/file/upload/">文件上传</a></li>
                    <li><a href="/file/download/">文件下载</a></li>
                </ul>
            </li>

            <li class="special_link">
                <a href="http://www.jumpserver.org" target="_blank"><i class="fa fa-database"></i> <span class="nav-label">访问官网</span></a>
            </li>
        </ul>

    </div>
</nav>