{% ifequal session_role_id 2 %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            {% include 'nav_li_profile.html' %}
            <li id="index">
               <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span></a>
              <!--<a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">仪表盘</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="index.html">Dashboard v.1</a></li>
                    <li ><a href="dashboard_2.html">Dashboard v.2</a></li>
                    <li ><a href="dashboard_3.html">Dashboard v.3</a></li>
                </ul>-->
            </li>
            <li id="juser">
                <a href="#"><i class="fa fa-rebel"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="dept_list dept_edit"><a href="/juser/dept_list/">查看部门</a></li>
                    <li class="dept_add"><a href="/juser/dept_add/">添加部门</a></li>
                    <li class="group_list group_edit"><a href="/juser/group_list/">查看小组</a></li>
                    <li class="group_add"><a href="/juser/group_add/">添加小组</a></li>
                    <li class="user_list user_edit user_detail"><a href="/juser/user_list/">查看用户<span class="label {% ifequal user_active_num user_total_num %}label-primary {% else %}label-warning {% endifequal %}pull-right">{{ user_active_num }}/{{ user_total_num }}</span></a></li>
                    <li class="user_add"><a href="/juser/user_add/">添加用户</a></li>
                </ul>
            </li>
            <li id="jasset">
                <a><i class="fa fa-cube"></i> <span class="nav-label">资产管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="host_add host_add_multi"><a href="/jasset/host_add/">添加资产</a></li>
                    <li class="host_list"><a href="/jasset/host_list/">查看资产&nbsp&nbsp</span><span class="label label-info pull-right">{{ host_active_num }}/{{ host_total_num}}</span></a></li>
                    <li class="group_add"><a href="/jasset/group_add/">添加主机组</a></li>
                    <li class="group_list group_detail"><a href="/jasset/group_list/">查看主机组</a></li>
                    <li class="idc_add"><a href="/jasset/idc_add/">添加IDC</a></li>
                    <li class="idc_list idc_detail"><a href="/jasset/idc_list/">查看IDC</a></li>
                </ul>
            </li>
            <li id="jperm">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">授权管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="dept_perm_list dept_perm_edit">
                        <a href="/jperm/dept_perm_list/">部门授权</a>
                    </li>

                    <li class="perm_list perm_edit">
                        <a href="/jperm/perm_list/">小组授权</a>
                    </li>

                    <li class="sudo_list sudo_edit sudo_add cmd_list cmd_edit">
                        <a href="/jperm/sudo_list/">Sudo授权</a>
                    </li>
                    <li class="apply_show online"><a href="/jperm/apply_show/online/">权限审批</a></li>
                </ul>
            </li>
{#            <li id="jlog">#}
{#                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">日志审计</span><span class="fa arrow"></span></a>#}
{#                <ul class="nav nav-second-level">#}
{#                    <li id="log_list"><a href="/jlog/log_list/online/">查看日志</a></li>#}
{#                    <li id="log_detail"><a href="/jlog/log_detail/">日志分析</a></li>#}
{#                </ul>#}
{#            </li>#}
            <li id="jlog">
               <a href="/jlog/log_list/online/"><i class="fa fa-files-o"></i> <span class="nav-label">日志审计</span><span class="label label-info pull-right"></span></a>
            </li>
            <li class="special_link">
                <a href="http://www.jumpserver.org" target="_blank"><i class="fa fa-database"></i> <span class="nav-label">访问官网</span></a>
            </li>
        </ul>

    </div>
</nav>
{% endifequal %}
{% ifequal session_role_id 1 %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            {% include 'nav_li_profile.html' %}
            <li id="index">
               <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span></a>
              <!--<a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">仪表盘</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="index.html">Dashboard v.1</a></li>
                    <li ><a href="dashboard_2.html">Dashboard v.2</a></li>
                    <li ><a href="dashboard_3.html">Dashboard v.3</a></li>
                </ul>-->
            </li>
            <li id="juser">
                <a href="#"><i class="fa fa-rebel"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="dept_list dept_edit"><a href="/juser/dept_list/">查看部门</a></li>
                    <li class="group_list group_edit"><a href="/juser/group_list/">查看小组</a></li>
                    <li class="group_add"><a href="/juser/group_add/">添加小组</a></li>
                    <li class="user_list"><a href="/juser/user_list/">查看用户<span class="label {% ifequal user_active_num user_total_num %}label-primary {% else %}label-warning {% endifequal %}pull-right">{{ user_active_num }}/{{ user_total_num }}</span></a></li>
                    <li class="user_add"><a href="/juser/user_add/">添加用户</a></li>
                </ul>
            </li>
            <li id="jasset">
                <a><i class="fa fa-cube"></i> <span class="nav-label">资产管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="host_add host_add_multi"><a href="/jasset/host_add/">添加资产</a></li>
                    <li class="host_list"><a href="/jasset/host_list/">查看资产&nbsp&nbsp</span><span class="label label-info pull-right">{{ host_active_num }}/{{ host_total_num}}</span></a></li>
                    <li class="group_add"><a href="/jasset/group_add/">添加主机组</a></li>
                    <li class="group_list group_detail"><a href="/jasset/group_list/">查看主机组</a></li>
                    <li class="idc_list idc_detail"><a href="/jasset/idc_list/">查看IDC</a></li>
                </ul>
            </li>
            <li id="jperm">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">授权管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li id="perm_list">
                        <a href="/jperm/perm_list/">小组授权</a>
                    </li>

                    <li id="sudo_add">
                        <a href="/jperm/sudo_list/">Sudo授权</a>
                    </li>
                    <li class="apply_show online"><a href="/jperm/apply_show/online/">权限审批</a></li>
                </ul>
            </li>
            <li id="jlog">
               <a href="/jlog/log_list/online/"><i class="fa fa-files-o"></i> <span class="nav-label">日志审计</span><span class="label label-info pull-right"></span></a>
            </li>

            <li class="special_link">
                <a href="http://www.jumpserver.org" target="_blank"><i class="fa fa-database"></i> <span class="nav-label">访问官网</span></a>
            </li>
        </ul>
    </div>
</nav>
{% endifequal %}

{% ifequal session_role_id 0 %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            {% include 'nav_li_profile.html' %}
            <li id="index">
               <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span></a>
            </li>
            <li class="user_detail">
               <a href="/juser/user_detail/?id={{ session_user_id }}"><i class="fa fa-rebel"></i> <span class="nav-label">个人信息</span><span class="label label-info pull-right"></span></a>
            </li>
            <li id="jasset">
               <a href="/jasset/host_list/"><i class="fa fa-cube"></i> <span class="nav-label">查看主机</span><span class="label label-info pull-right"></span></a>
            </li>
             <li id="jperm">
                <a><i class="fa fa-cube"></i> <span class="nav-label">权限申请</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="apply"><a href="/jperm/apply/">申请主机</a></li>
                    <li class="apply_show online"><a href="/jperm/apply_show/online/">申请记录</a></li>
                </ul>
            </li>
            <li id="jlog">
               <a href="/jlog/log_list/online/"><i class="fa fa-files-o"></i> <span class="nav-label">登录历史</span><span class="label label-info pull-right"></span></a>
            </li>

            <li id="file">
                <a href="#"><i class="fa fa-download"></i> <span class="nav-label">上传下载</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="upload"><a href="/file/upload/">文件上传</a></li>
                    <li class="download"><a href="/file/download/">文件下载</a></li>
                </ul>
            </li>

            <li class="special_link">
                <a href="http://www.jumpserver.org" target="_blank"><i class="fa fa-database"></i> <span class="nav-label">访问官网</span></a>
            </li>
        </ul>
    </div>
</nav>
{% endifequal %}