{% load mytags %}
<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" width="48" height="48" src="/static/img/{{ session_role_id | to_avatar }}.png" />
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">{{ session_user_id | to_name}}  <span style="color: #8095a8"></span></strong>
                </span>
                <span class="text-muted text-xs block">
                    {{ session_user_id | get_role }} <b class="caret"></b>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a value="{% url 'user_profile' %}?id={{ session_user_id }}" class="iframe_user">个人信息</a></li>
            <li><a href="{% url 'user_update' %}">修改信息</a></li>
{#            {% if not user.role == 'CU' %}#}
{#                {% if request.session.role_id == 0 %}#}
{#                    <li><a href="/juser/change_role/">系统后台</a></li>#}
{#                {% else %}#}
{#                    <li><a href="/juser/change_role/">主机控制台</a></li>#}
{#                {% endif %}#}
{#            {% endif %}#}
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">注销</a></li>
        </ul>
    </div>

    <div class="logo-element">
        JS+
    </div>
</li>
<script>
    $(".iframe_user").on('click', function(){
        var url= $(this).attr("value");
        layer.open({
            type: 2,
            title: '个人信息',
            maxmin: true,
            shift: 'top',
            border: [2, 0.3, '#1AB394'],
            shade: [0.5, '#000000'],
            shadeClose: true,
            area : ['800px' , '600px'],
            content: url
        });
    });
</script>

