<div class="col-sm-6">
    <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
        <ul class="pagination" style="margin-top: 0; float: right">
            {% if contacts.has_previous %}
                <li class="paginate_button previous" aria-controls="editable" tabindex="0" id="editable_previous">
                    <a class="page" href="?page={{ contacts.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
                     <a class="page" href="#">Previous</a>
                </li>
            {% endif %}
            {% ifequal show_first 1 %}
                <li class="paginate_button" aria-controls="editable" tabindex="0"><a class="page" href="?page=1"  title="第1页">1...</a></li>
            {% endifequal %}
            {% for page in page_range %}
                {% ifequal current_page page %}
                    <li class="paginate_button active"  aria-controls="editable" tabindex="0"><a class="page" href="?page={{ page }}"  title="第{{ page }}页">{{ page }}</a></li>
                {% else %}
                    <li class="paginate_button" aria-controls="editable" tabindex="0"><a class="page" href="?page={{ page }}"  title="第{{ page }}页">{{ page }}</a></li>
                {% endifequal %}
            {% endfor %}
            {% ifequal show_end 1 %}
                <li class="paginate_button" aria-controls="editable" tabindex="0"><a class="page" href="?page={{ p.num_pages }}"  title="第{{ page }}页">...{{ p.num_pages }}</a></li>
            {% endifequal %}
            {% if contacts.has_next %}
                <li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_next">
                    <a class="page" href="?page={{ contacts.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="paginate_button next disabled" aria-controls="editable" tabindex="0" id="editable_next">
                    <a class="page" href="#">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
<script>
    function sleep(n) { //n表示的毫秒数
            var start = new Date().getTime();
            while (true) if (new Date().getTime() - start > n) break;
        }

    $(document).ready(function(){
        $('.page').click(function(){
            var searchStr = location.search;
            var old_href = $(this).attr('href').replace('?', '');
            var searchArray = searchStr.split('&');

            if (searchStr == ''){
                searchStr = '?page=1'
            }

            if (searchStr.indexOf('page')>=0){
                searchArray.pop();
            }

            searchArray.push(old_href);
            if (searchArray.length > 1) {
                $(this).attr('href', searchArray.join('&'));
            }
{#            sleep(1000)#}
        })
    });

</script>
