{% load i18n %}

<div style="width: 100%; text-align: center">
    <table style="margin: 0 auto; border: 1px solid #ccc; border-collapse: collapse; width: 60%">
        <tr style="background-color: #1ab394; color: white">
            <th style="height: 80px;">{{ title }}</th>
        </tr>
        <tr style="border: 1px solid #eee;">
            <td style="height: 50px;">{% trans 'Hello' %} {{ user.name }},</td>
        </tr>
        <tr style="border: 1px solid #eee">
            <td style="height: 50px;">{% trans 'Verify code' %}: <span style="font-weight: bold;">{{ code }}</span></td>
        </tr>
        <tr style="border: 1px solid #eee;">
            <td style="height: 30px;"> {% trans 'Copy the verification code to the Reset Password page to reset the password.' %} </td>
        </tr>
        <tr style="border: 1px solid #eee">
            <td style="height: 30px;">{% trans 'The validity period of the verification code is one minute' %}</td>
        </tr>
    </table>
</div>
