{% load i18n %}
<p>
    {% trans 'Hello' %} {{ user.name }},
</p>
<p>
    {% trans 'Please click the link below to reset your password, if not your request, concern your account security' %}
    <br>
    <br>
    <a href="{{ rest_password_url }}?token={{ rest_password_token}}" class='showLink' target="_blank">
        {% trans 'Click here reset password' %}
    </a>
</p>

-
<p>
    {% trans 'This link is valid for 1 hour. After it expires' %}
    <a href="{{ forget_password_url }}?email={{ user.email }}">{% trans 'request new one' %}</a>
</p>
