{% extends '_base_only_msg_content.html' %}
{% load static %}
{% load i18n %}

{% block content_title %}
    {% trans 'MFA' %}
{% endblock %}

{% block content %}
    <div class="form-group">
        <p style="margin: 20px auto">
            {% trans 'Open Authenticator and enter the 6-bit dynamic code' %}
        </p>
    </div>

    <form class="m-t" role="form" method="post" action="">
        {% csrf_token %}
        {% if 'otp_code' in form.errors %}
            <p class="red-fonts">{{ form.otp_code.errors.as_text }}</p>
        {% endif %}
        <div class="form-group" style="display: none">
            <select class="form-control">
                <option value="otp">{% trans 'One-time password' %}</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="otp_code" placeholder="" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">{% trans 'Next' %}</button>

        <div>
            <small>{% trans "Can't provide security? Please contact the administrator!" %}</small>
        </div>
    </form>
{% endblock %}
