{% extends '_base_only_content.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'MFA' %}
{% endblock %}

{% block content %}
    <form class="m-t" role="form" method="post" action="">
        {% csrf_token %}
        {% if 'code' in form.errors %}
            <p class="red-fonts">{{ form.code.errors.as_text }}</p>
        {% endif %}
        <div class="form-group">
            <select id="verify-method-select" name="mfa_type" class="form-control" onchange="select_change(this.value)">
            {% for method in methods %}
                <option value="{{ method.name }}" {% if method.selected %} selected {% endif %} {% if not method.enable %} disabled {% endif %}>{{ method.label }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="code" placeholder="" required="" autofocus="autofocus">
            <span class="help-block">
                {% trans 'Please enter the verification code' %}
            </span>
        </div>
        <button id='send-sms-verify-code' class="btn btn-primary full-width m-b" onclick="sendSMSVerifyCode()" style="display: none">{% trans 'Send verification code' %}</button>
        <button type="submit" class="btn btn-primary block full-width m-b">{% trans 'Next' %}</button>

        <div>
            <small>{% trans "Can't provide security? Please contact the administrator!" %}</small>
        </div>
    </form>
    <script>

    var methodSelect = document.getElementById('verify-method-select');
    if (methodSelect.value !== null) {
        select_change(methodSelect.value);
    }

    function select_change(type){
        var currentBtn = document.getElementById('send-sms-verify-code');

        if (type == "sms") {
            currentBtn.style.display = "block";
        }
        else {
            currentBtn.style.display = "none";
        }
    }

    function sendSMSVerifyCode(){
        var url = "{% url 'api-auth:sms-verify-code-send' %}";
        requestApi({
            url: url,
            method: "POST",
            success: function (data) {
                alert('验证码已发送');
            },
            error: function (text, data) {
                alert(data.detail)
            },
            flash_message: false
        })
    }
    </script>
{% endblock %}
