# Cloud req
qingcloud-sdk==1.2.15
azure-mgmt-subscription==3.1.1
azure-identity==1.13.0
azure-mgmt-compute==30.0.0
azure-mgmt-network==23.1.0
google-cloud-compute==1.13.0
grpcio==1.56.2
alibabacloud_dysmsapi20170525==2.0.24
python-novaclient==11.0.1
python-keystoneclient==5.1.0
bce-python-sdk==0.8.87
tencentcloud-sdk-python==3.0.941
aliyun-python-sdk-core-v3==2.13.33
aliyun-python-sdk-ecs==4.24.64
huaweicloud-sdk-python==1.0.28
# python-keystoneclient need keystoneauth1>=3.4.0
# huaweicloud-sdk-python need keystoneauth1<=3.4.0
keystoneauth1==3.4.0
# DB requirements
oracledb==1.3.2
psycopg2-binary==2.9.6
pymssql==2.2.7
IPy==1.1
psycopg2==2.9.6
ucloud-sdk-python3==0.11.50
