cryptography==1.8.1
pyparsing==2.2.0
Pillow==4.0.0
ForgeryPy==0.1
openpyxl==2.4.0
paramiko==2.1.1
passlib==1.7.1
requests==2.11.1
logging==0.4.9.6
eventlet==0.20.1
itsdangerous==0.24
sshpubkeys==2.2.0
appdirs==1.4.3
tornado==4.4.2
ansible==2.2.2.0
celery==3.1.23
uwsgi==2.0.15
MySQL-python==1.2.5
django-simple-captcha==0.5.2
django-formtools==1.0
djangorestframework-bulk==0.2.1
djangorestframework==3.5.3
django-filter==1.0.0
django-redis-cache==1.7.1
django-bootstrap3==8.2.2
django-bootstrap-form==3.2.1
Django==1.10.7
