Django>=1.11
django-bootstrap3>=8.2.2
Pillow>=4.1.0
djangorestframework>=3.6.2
ForgeryPy
#openpyxl>=2.4.0
celery>=4.0.2
paramiko==2.1.2
ansible==2.2.2.0
django-simple-captcha>=0.5.5
django-formtools>=2.0
sshpubkeys>=2.2.0
djangorestframework-bulk>=0.2.1
django-redis-cache>=1.7.1
requests>=2.13.0
itsdangerous>=0.24
eventlet
django-filter>=1.0.2
passlib>=1.7.1
gssapi
django-rest-swagger
django-auth-ldap
ldap3
chardet>=3.0.4
