Django
django-bootstrap3
Pillow
djangorestframework
ForgeryPy
openpyxl==2.4.0
celery
paramiko
ansible
django-simple-captcha
django-formtools
sshpubkeys
djangorestframework-bulk
django-redis-cache
requests
itsdangerous
eventlet
django-filter
passlib
