{% extends 'base.html' %}
{% block content %}
{% include 'nav_cat_bar.html' %}
<!--<h3 class="text-center">项目发布申请</h3>-->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div id="add_asset" class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2 id="jumpTo" class="text-center text-info"></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function countDown(secs,surl){
         var jumpTo = document.getElementById('jumpTo');
         jumpTo.innerHTML='{{ smg }}......' + secs + '秒';
         if(--secs>0){
             setTimeout("countDown("+secs+",'"+surl+"')",1000);
             }
         else{
             location.href=surl;
             }
         }
    countDown(10,'/');
</script>

{% endblock content %}