{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> {{ user.name }}授权修改</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <form id="userPerm" method="post" class="form-horizontal" action="../perm_user_edit/?id={{ user.id }}">
                        {% if error %}
                            <div class="alert alert-warning text-center">{{ error }}</div>
                        {% endif %}
                        {% if msg %}
                            <div class="alert alert-success text-center">{{ msg }}</div>
                        {% endif %}
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">用户<span class="red-fonts">*</span></label>
                                <div class="col-sm-4">
                                    <input id="user_group_name" name="user_group_name"  type="text" class="form-control" value="{{ user.name }}" readonly>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">资产<span class="red-fonts">*</span></label>
                                <div class="col-sm-4">
                                    <div>
                                        <select id="assets" name="assets" class="form-control m-b" size="12" multiple>
                                            {% for asset in assets %}
                                            <option value="{{ asset.id }}">{{ asset.ip }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    <div class="btn-group" style="margin-top: 42px;">
                                        <button type="button" class="btn btn-white" onclick="move('assets', 'asset_select')"><i class="fa fa-chevron-right"></i></button>
                                        <button type="button" class="btn btn-white" onclick="move('asset_select', 'assets')"><i class="fa fa-chevron-left"></i> </button>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div>
                                        <select id="asset_select" name="asset_select" class="form-control m-b" size="12"  multiple>
                                            {% for asset in asset_permed %}
                                            <option value="{{ asset.id }}">{{ asset.ip }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">资产组<span class="red-fonts">*</span></label>
                                <div class="col-sm-4">
                                    <div>
                                        <select id="asset_groups" name="asset_groups" class="form-control m-b" size="12" multiple>
                                            {% for asset_group in asset_groups %}
                                            <option value="{{ asset_group.id }}">{{ asset_group.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    <div class="btn-group" style="margin-top: 42px;">
                                        <button type="button" class="btn btn-white" onclick="move('asset_groups', 'asset_groups_select')"><i class="fa fa-chevron-right"></i></button>
                                        <button type="button" class="btn btn-white" onclick="move('asset_groups_select', 'asset_groups')"><i class="fa fa-chevron-left"></i> </button>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div>
                                        <select id="asset_groups_select" name="asset_groups_select" class="form-control m-b" size="12"  multiple>
                                            {% for asset_group in asset_group_permed %}
                                            <option value="{{ asset_group.id }}">{{ asset_group.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit" onclick="selectAll()">确认保存</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}