{% load mytags %}
{% ifequal tab 'tab1' %}
    <table class="table table-striped table-bordered table-hover " id="editable" >
        <thead>
            <tr>
                <th class="text-center">组名</th>
                <th class="text-center">
                <span class="text-muted text-xs block">类型</span>
                </th>
                <th class="text-center">成员数量</th>
                <th class="text-center">授权数量</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody id="perm_edit">
        {% for group in contacts.object_list %}
            <tr class="gradeX">
                <td class="text-center"> {{ group.name }} </td>
                <td class="text-center"> {{ group.type|group_type_to_str }} </td>
                <td class="text-center"> {{ group.id|member_count }} </td>
                <td class="text-center"> {{ group.id|perm_count }} </td>
                <td class="text-center">
                    <a title="[ {{ group.name }} ] 授权详情" href="../perm_detail/?id={{ group.id }}" class="iframe btn btn-xs btn-primary">详情</a>
                    <a href="../perm_edit/?id={{ group.id }}" class="btn btn-xs btn-info">编辑</a>
                    <a href="../perm_del/?id={{ group.id }}" class="btn btn-xs btn-danger">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                Showing {{ contacts.start_index }} to {{ contacts.end_index }} of {{ p.count }} entries
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                <ul class="pagination" style="margin-top: 0; float: right">
                    {% if contacts.has_previous %}
                        <li class="paginate_button previous" aria-controls="editable" tabindex="0" id="editable_previous">
                            <a href="?page={{ contacts.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
                             <a href="#">Previous</a>
                        </li>
                    {% endif %}
                    {% for page in p.page_range %}
                        {% ifequal offset1 page %}
                            <li class="paginate_button active"  aria-controls="editable" tabindex="0"><a href="?page={{ page }}"  title="第{{ page }}页">{{ page }}</a></li>
                        {% else %}
                            <li class="paginate_button" aria-controls="editable" tabindex="0"><a href="?page={{ page }}"  title="第{{ page }}页">{{ page }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                    {% if contacts.has_next %}
                        <li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_next">
                            <a href="?page={{ contacts.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="paginate_button next disabled" aria-controls="editable" tabindex="0" id="editable_next">
                            <a href="#">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% else %}
    <table class="table table-striped table-bordered table-hover " id="editable" >
        <thead>
            <tr>
                <th class="text-center">用户</th>
                <th class="text-center">角色</th>
                <th class="text-center">属组</th>
                <th class="text-center">主机数量</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody id="perm_list">
        {% for user in contacts2.object_list %}
            <tr class="gradeX">
                <td class="text-center"> {{ user.name }} </td>
                <td class="text-center"> {{ user.id | get_role }} </td>
                <td class="text-center"> {{ user.username | groups_str }} </td>
                <td class="text-center"> {{ user.id | perm_asset_count }} </td>
                <td class="text-center">
                    <a title="{{ user.name }} ] 授权详情" href="../perm_asset_detail/?id={{ user.id }}" class="iframe btn btn-xs btn-primary">详情</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                Showing {{ contacts2.start_index }} to {{ contacts2.end_index }} of {{ p2.count }} entries
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                <ul class="pagination" style="margin-top: 0; float: right">
                    {% if contacts2.has_previous %}
                        <li class="paginate_button previous" aria-controls="editable" tabindex="0" id="editable_previous">
                            <a href="?page={{ contacts2.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
                             <a href="#">Previous</a>
                        </li>
                    {% endif %}
                    {% for page in p2.page_range %}
                        {% ifequal offset1 page %}
                            <li class="paginate_button active"  aria-controls="editable" tabindex="0"><a href="?page={{ page }}"  title="第{{ page }}页">{{ page }}</a></li>
                        {% else %}
                            <li class="paginate_button" aria-controls="editable" tabindex="0"><a href="?page={{ page }}"  title="第{{ page }}页">{{ page }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                    {% if contacts2.has_next %}
                        <li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_next">
                            <a href="?page={{ contacts2.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="paginate_button next disabled" aria-controls="editable" tabindex="0" id="editable_next">
                            <a href="#">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endifequal %}