{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> 查看小组</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="">
                    <form id="search_form" method="get" action="" class="pull-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" id="search_input" name="search" placeholder="Search">
                            <div class="input-group-btn">
                                <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                    - 搜索 -
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>

                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">日期</th>
                                <th class="text-center">动作</th>
                                <th class="text-center">成功</th>
                                <th class="text-center">完成</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr class="gradeX">
                                <td class="text-center"> {{ log.datetime | date:"Y-n-d G:i:s" }} </td>
                                <td class="text-center"> {{ log.action }} </td>
                                <td class="text-center">
                                    <a class="log_result" value="{{ log.results }}">
                                    {{ log.is_success | yesno:"是,否,为止" }}
                                    </a>
                                </td>
                                <td class="text-center"> {{ log.is_finish | yesno:"是,否,为止" }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Showing {{ users.start_index }} to {{ users.end_index }} of {{ p.count }} entries
                            </div>
                        </div>
                        {% include 'paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block self_footer_js %}
<script>
$('document').ready(function(){
    $('.log_result').click(function(){
        alert($(this).attr('value'))
    })
})
</script>

{% endblock %}