{% load mytags %}
<html>
    <head>
        {% include 'link_css.html' %}

        <style type="text/css">
        body
        {
        background: #FFFFFF;
        }
        </style>
    </head>

    <body>
        <div class="row">
            <div class="contact-box">
                <h2 class="text-center">{{ cmd_group.name }} 命令详情</h2>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <td class="text-center" width="120">ID</td>
                                <td class="text-center">名称</td>
                                <td class="text-center">部门</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td class="text-center">{{ cmd_group.id }}</td>
                            <td class="text-center">{{ cmd_group.name }}</td>
                            <td class="text-center">{{ cmd_group.dept.name }}</td>
                        </tr>
                        <tr>
                            <td colspan="1" class="text-center">命令：</td>
                            <td colspan="6" class="text-center">
                                    <b>{{ cmd_group.cmd }}</b>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
    </body>
</html>