{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block help_message %}
    <div class="alert alert-info help-message">
    {% trans 'The left side is the asset tree, right click to create, delete, and change the tree node, authorization asset is also organized as a node, and the right side is the asset under that node' %}
    </div>
{% endblock %}

{% block custom_head_css_js %}
    <link href="{% static 'css/plugins/ztree/awesomeStyle/awesome.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/plugins/ztree/jquery.ztree.all.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <link href="{% static 'css/plugins/codemirror/codemirror.css' %}" rel="stylesheet">
    <script src="{% static 'js/plugins/xterm/xterm.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/plugins/xterm/xterm.css' %}" />
	<style type="text/css">
        .xterm-rows {
            {#padding: 15px;#}
            font-family: "Bitstream Vera Sans Mono", Monaco, "Consolas", Courier, monospace;
            font-size: 13px;
        }

        .terminal .xterm-viewport {
            background-color: black;
            overflow-y: scroll;
        }
	</style>

{% endblock %}

{% block content %}
<div class="wrapper wrapper-content">
   <div class="row">
       <div class="col-lg-3" id="split-left" style="padding-left: 3px">
           <div class="ibox float-e-margins">
               <div class="ibox-content mailbox-content" style="padding-top: 0;padding-left: 1px">
                   <div class="file-manager ">
                       <div id="assetTree" class="ztree"></div>
                       <div class="clearfix"></div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-9 animated fadeInRight" id="split-right">
           <div class="tree-toggle">
               <div class="btn btn-sm btn-primary tree-toggle-btn" onclick="toggle()">
                   <i class="fa fa-angle-left fa-x" id="toggle-icon"></i>
               </div>
           </div>
           <div class="mail-box-header">
               <form enctype="multipart/form-data" method="post" class="form-horizontal" action="" id="execution-form">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    {% bootstrap_field form.run_as layout="horizontal" %}
                    {% bootstrap_field form.script layout="horizontal" %}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button id="submit_button" class="btn btn-primary" type="button">{% trans 'Execute' %}</button>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div id="term" style="height: 100%;width: 100%"></div>
                    </div>
                </form>
           </div>
       </div>
   </div>
</div>
{% endblock %}

{% block custom_foot_js %}
<script src="{% static 'js/plugins/codemirror/codemirror.js' %}"></script>
<script src="{% static 'js/plugins/codemirror/mode/shell/shell.js' %}"></script>
<script>
var zTree, show = 0;

function initTree() {
    var setting = {
        check: {
            enable: true
        },
        view: {
            dblClickExpand: false,
            showLine: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: true,
			showRemoveBtn: false,
			showRenameBtn: false,
            drag: {
                isCopy: true,
                isMove: true
            }
        },
        callback: {
        }
    };

    var zNodes = [];
    $.get("{% url 'api-assets:node-list' %}", function(data, status){
        $.each(data, function (index, value) {
            value["node_id"] = value["id"];
            value["id"] = value["tree_id"];
            if (value["tree_id"] !== value["tree_parent"]){
                value["pId"] = value["tree_parent"];
            } else {
                value["isParent"] = true;
            }
            value["name"] = value["value"] + ' (' + value['assets_amount'] + ')';
            value['value'] = value['value'];
        });
        zNodes = data;
        $.fn.zTree.init($("#assetTree"), setting, zNodes);
        zTree = $.fn.zTree.getZTreeObj("assetTree");
        var root = zTree.getNodes()[0];
        zTree.expandNode(root);
    });
}

function toggle() {
    if (show === 0) {
        $("#split-left").hide(500, function () {
            $("#split-right").attr("class", "col-lg-12");
            $("#toggle-icon").attr("class", "fa fa-angle-right fa-x");
            show = 1;
        });
    } else {
        $("#split-right").attr("class", "col-lg-9");
        $("#toggle-icon").attr("class", "fa fa-angle-left fa-x");
        $("#split-left").show(500);
        show = 0;
    }
}

var term = null;

function initResultTerminal() {
    term = new Terminal({
        cursorBlink: false,
        screenKeys: false
    });
    term.open(document.getElementById('term'));
    term.resize(80, 24);
}

var editor = null;

$(document).ready(function(){
    initTree();
    editor = CodeMirror.fromTextArea(
        document.getElementById("id_script"),
        {
            lineNumbers: true,
            matchBrackets: true,
            styleActiveLine: true
        });
    editor.setSize(null, 100)
}).on('click', '#submit_button', function () {
    if (!term) {
        initResultTerminal()
    }
    var url = '{% url "api-ops:command-execution-list" %}';
    var run_as = $('#id_run_as').val();
    var script = editor.getValue();
    var hosts = ['1394eb13-6110-44ae-943b-eb26d91bcd48'];
    var data = {
        hosts: hosts,
        run_as: run_as,
        script: script
    };
    var int = null;
    var id = null;
    function getExecutionResult() {
        var detailUrl = "{% url 'api-ops:command-execution-detail' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", id);
        APIUpdateAttr({
            url: detailUrl,
            method: 'GET',
            flash_message: false,
            success: function (data) {
                console.log(data);
                if (data.is_finished) {
                    clearInterval(int)
                }
                term.write(data.result)
            }
        })
    }
    APIUpdateAttr({
        url: url,
        body: JSON.stringify(data),
        method: 'POST',
        success: function (data) {
            term.write("Run script: " + script);
            id = data.id;
            int = setInterval(getExecutionResult, 500)
        }
    })
})
</script>

{% endblock %}