{% extends '_modal.html' %}
{% load i18n %}
{% block modal_id %}gateway_test{% endblock %}
{% block modal_title%}{% trans "Test gateway test connection" %}{% endblock %}
{% block modal_body %}
{% load bootstrap3 %}
<form method="post" class="form-horizontal" action="" id="test_gateway_form" style="padding-top: 10px">
    <div class="form-group">
        <input id="gateway_id" name="gateway_id" hidden>
        <label for="port" class="col-sm-2 control-label">{% trans 'SSH Port' %}</label>
        <div class="col-sm-9" id="select2-container">
            <input id="ssh_test_port" name="port" class="form-control">
            <span class="help-block">{% trans 'If use nat, set the ssh real port' %}</span>
        </div>
    </div>
</form>
{% endblock %}
{% block modal_confirm_id %}btn_gateway_test{% endblock %}