{% extends '_base_list.html' %}
{% load i18n static %}
{% block help_message %}
    {% trans 'Admin users are asset (charged server) on the root, or have NOPASSWD: ALL sudo permissions users, '%}
    {% trans 'Jumpserver users of the system using the user to `push system user`,  `get assets hardware information`, etc. '%}
{% endblock %}
{% block table_search %}
    {% include '_csv_import_export.html' %}
{% endblock %}

{% block table_container %}
<div class="uc pull-left m-r-5">
    <a href="{% url "assets:admin-user-create" %}" class="btn btn-sm btn-primary"> {% trans "Create admin user" %} </a>
</div>
<table class="table table-striped table-bordered table-hover " id="admin_user_list_table" >
    <thead>
    <tr>
        <th class="text-center">
            <input type="checkbox" id="check_all" class="ipt_check_all" >
        </th>
        <th class="text-center">{% trans 'Name' %}</th>
        <th class="text-center">{% trans 'Username' %}</th>
        <th class="text-center">{% trans 'Asset' %}</th>
        <th class="text-center">{% trans 'Comment' %}</th>
        <th class="text-center">{% trans 'Action' %}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script>
var admin_user_table = 0;
function initTable() {
    var options = {
        ele: $('#admin_user_list_table'),
        columnDefs: [
            {targets: 1, render: function (cellData, tp, rowData, meta) {
                cellData = htmlEscape(cellData);
                var detail_btn = '<a href="{% url "assets:admin-user-detail" pk=DEFAULT_PK %}">' + cellData + '</a>';
                return detail_btn.replace('{{ DEFAULT_PK }}', rowData.id);
            }},
            {targets: 5, createdCell: function (td, cellData, rowData) {
                var update_btn = '<a href="{% url "assets:admin-user-update" pk=DEFAULT_PK %}" class="btn btn-xs m-l-xs btn-info">{% trans "Update" %}</a>'.replace('{{ DEFAULT_PK }}', cellData);
                var del_btn = '<a class="btn btn-xs btn-danger m-l-xs btn_admin_user_delete" data-uid="{{ DEFAULT_PK }}">{% trans "Delete" %}</a>'.replace('{{ DEFAULT_PK }}', cellData);
                $(td).html(update_btn + del_btn)
             }}],
        ajax_url: '{% url "api-assets:admin-user-list" %}',
        columns: [
            {data: function(){return ""}}, {data: "name"}, {data: "username" }, {data: "assets_amount", orderable: false},
            {#{data: "connectivity_amount"}, {data: "connectivity_amount"}, {data: "connectivity_amount"},#}
            {data: "comment"}, {data: "id", orderable: false, width: "100px"}
        ]
    };
    return jumpserver.initServerSideDataTable(options);
}

$(document).ready(function(){
    admin_user_table = initTable();
    initCsvImportExport(admin_user_table, "{% trans "Admin user" %}")
})
.on('click', '.btn_admin_user_delete', function () {
	var $this = $(this);
	var $data_table = $("#admin_user_list_table").DataTable();
	var name = $(this).closest("tr").find(":nth-child(2)").children('a').html();
	var uid = $this.data('uid');
	var the_url = '{% url "api-assets:admin-user-detail" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', uid);
	objectDelete($this, name, the_url);
	setTimeout( function () {
        $data_table.ajax.reload();
    }, 3000);

})
</script>
{% endblock %}
