{% extends '_base_list.html' %}
{% load i18n static %}
{% block table_search %}{% endblock %}
{% block help_message %}
    <div class="alert alert-info help-message">
    {% trans 'System user bound some command filter, each command filter has some rules,'%}
    {% trans 'When user login asset with this system user, then run a command,' %}
    {% trans 'The command will be filter by rules, higher priority rule run first,' %}
    {% trans 'When a rule matched, if rule action is allow, then allow command execute,' %}
    {% trans 'else if action is deny, then command with be deny,' %}
    {% trans 'else match next rule, if none matched, allowed' %}
    </div>
{% endblock %}
{% block table_container %}
<div class="uc pull-left  m-r-5">
    <a href="{% url 'assets:cmd-filter-create' %}" class="btn btn-sm btn-primary"> {% trans "Create command filter" %} </a>
</div>
<table class="table table-striped table-bordered table-hover " id="cmd_filter_list_table" >
    <thead>
    <tr>
        <th class="text-center">
            <input type="checkbox" id="check_all" class="ipt_check_all" >
        </th>
        <th class="text-center">{% trans 'Name' %}</th>
        <th class="text-center">{% trans 'Rules' %}</th>
        <th class="text-center">{% trans 'System users' %}</th>
        <th class="text-center">{% trans 'Comment' %}</th>
        <th class="text-center">{% trans 'Action' %}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
{% block content_bottom_left %}{% endblock %}
{% block custom_foot_js %}
<script>
function initTable() {
    var options = {
        ele: $('#cmd_filter_list_table'),
        columnDefs: [
            {targets: 1, createdCell: function (td, cellData, rowData) {
                cellData = htmlEscape(cellData);
                var detail_btn = '<a href="{% url 'assets:cmd-filter-detail' pk=DEFAULT_PK %}">' + cellData + '</a>';
                $(td).html(detail_btn.replace('{{ DEFAULT_PK }}', rowData.id));
            }},
            {targets: 2, createdCell: function (td, cellData, rowData) {
                var filters_list_btn = '<a href="{% url "assets:cmd-filter-rule-list" pk=DEFAULT_PK %}">' + cellData.length + '</a>';
                filters_list_btn = filters_list_btn.replace("{{ DEFAULT_PK }}", rowData.id);
                $(td).html(filters_list_btn);
            }},
            {targets: 3, createdCell: function (td, cellData, rowData) {
                var system_users_list_btn = '<a href="{% url "assets:cmd-filter-detail" pk=DEFAULT_PK %}">' + cellData.length + '</a>';
                system_users_list_btn = system_users_list_btn.replace("{{ DEFAULT_PK }}", rowData.id);
                $(td).html(system_users_list_btn);
            }},
            {targets: 5, createdCell: function (td, cellData, rowData) {
                var update_btn = '<a href="{% url "assets:cmd-filter-update" pk=DEFAULT_PK %}" class="btn btn-xs btn-info">{% trans "Update" %}</a>'.replace('{{ DEFAULT_PK }}', cellData);
                var del_btn = '<a class="btn btn-xs btn-danger m-l-xs btn-delete" data-uid="{{ DEFAULT_PK }}">{% trans "Delete" %}</a>'.replace('{{ DEFAULT_PK }}', cellData);
                $(td).html(update_btn + del_btn)
             }}
        ],
        ajax_url: '{% url "api-assets:cmd-filter-list" %}',
        columns: [
            {data: "id"}, {data: "name" }, {data: "rules" },
            {data: "system_users" }, {data: "comment"}, {data: "id"}
        ],
        op_html: $('#actions').html()
    };
    jumpserver.initServerSideDataTable(options);
}
$(document).ready(function(){
    initTable();
})
.on('click', '.btn-delete', function () {
    var $this = $(this);
    var $data_table = $('#cmd_filter_list_table').DataTable();
    var name = $(this).closest("tr").find(":nth-child(2)").children('a').html();
    var uid = $this.data('uid');
    var the_url = '{% url "api-assets:cmd-filter-detail" pk=DEFAULT_PK %}'.replace('{{ DEFAULT_PK }}', uid);
    objectDelete($this, name, the_url);
    setTimeout( function () {
        $data_table.ajax.reload();
    }, 3000);
});
</script>
{% endblock %}



