{% extends 'assets/_system_user.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block auth %}
    {% bootstrap_field form.password layout="horizontal" %}
    {% bootstrap_field form.private_key layout="horizontal" %}
    <div class="form-group">
        <label for="{{ form.as_push.id_for_label }}" class="col-sm-2 control-label">{% trans 'Auto push' %}</label>
        <div class="col-sm-8">
            {{ form.auto_push}}
        </div>
    </div>
{% endblock %}

{% block formUrl %}
    var the_url = '{% url 'api-assets:system-user-detail' pk=object.pk %}';
    var redirect_to = '{% url "assets:system-user-list" %}';
    var method = "PUT";
{% endblock %}

