<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Jumpserver | 开源跳板机系统</title>

    <link rel="shortcut icon" href="/static/img/facio.ico" type="image/x-icon">
    {% include 'link_css.html' %}
    {% include 'head_script.html' %}

</head>

<body>
    <div id="wrapper">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> 实时监控 </h5>
                </div>

                <div class="ibox-content blank-panel" id="content" style="background-color: #0b0b0b; color: #006621; height: 500px; padding: 20px;">
                    你好<br>
                </div>
            </div>
        </div>
    </div>

</body>
    {% block self_footer_js %}
    <script>
    function monitor(){
        var wsUri = 'ws://j:8080/send';
        var ws = new WebSocket(wsUri);
        ws.onopen = function(evt){
            $('#content').append('Connect websocket success' + '<br />');
            ws.send('Start')
        };

        ws.onmessage = function(evt){
            console.log(evt.data);
            $('#content').append(evt.data.replace(/\n|\r|(\r\n)|(\u0085)|(\u2028)|(\u2029)/g, '<br>'));
        };

        ws.onclose = function(evt){
            $('#content').append('Disconnect with websocket')
        }
    }

    monitor();
    </script>
    {% endblock %}
</html>
